[2015-03-31 17:47] barisunver opened #3 "Any option to toggle automatic slide change?"
Hi. I couldn't see any auto-change option, have I missed it? If this feature's not implemented, are you planning to do it in the future?

[2015-03-31 21:35] meandmax commented on #3
Hey @barisunver,

for now an interval option is not implemented, because I want to keep the slider as lean as possible and I thought something like an interval is not really often needed in this kind of sliders.

I think mostly interval is used by classic image slideshows, however if there are enough people who really need this feature I would think about implementing it.

Shouldn`t be too much ef

[2015-04-02 20:20] caiotarifa commented on #3
I'd appreciate this feature. :+1:

For now, it can be done with a `setInterval`, no? Like this:

[code]

[2015-04-07 09:52] OVes opened #5 "JQuery plugin returns the object without 'prev/next' methods"
Could you, please, check if the JQuery plugin returns the correct result for 'lory' method?
Because, I get back the JQuery object only.

Thanks a lot.

[2015-04-07 10:00] sleeman opened #6 "Changing number of visible slide !!"
Is there a way to change how many visible slides based on screen width !! For instance  at mobile devices i don't want to 4 small slides , i only want one slide to be visible , Is there a feature where i can do this !!

Thx

[2015-04-07 15:53] meandmax commented on #6
Hey @sleeman,

yes you can, but not via the options of the slider.

You can set the slider width and the witdth of each slide via CSS and adjust them with mediaqueries for your different screen sizes.

You can have a look in the app.css of the demo folder, there I think I do exactly want you want to do.

cheers Max

[2015-04-07 15:53] #6 closed

[2015-04-07 16:07] meandmax commented on #5
Hey @OVes,

I can't check if it works, because I'm not at home for the next 9 days but if there is a problem I will fix it asap.

If anybody else can help ... I would appreciate it.

Thanks
Max

[2015-04-07 16:12] meandmax commented on #3
Thanks @caiotarifa for the codepen and the instructions how it can be done for now.

I think I will implementiert this feature when Im back home in 10 days and will let you know.

@barisunver, for now you have to do it like @caiotarifa did it.

Thanks
Max

[2015-04-07 16:12] #3 closed

[2015-04-12 00:34] TrySound opened #7 "bower main"
Hi! Great script.

Can you change bower main to non-minified version?

[bower.spec#main](https://github.com/bower/bower.json-spec#main)

[2015-04-12 00:39] TrySound commented on #7
And you may remove version field, bower use git tags.

[2015-04-12 23:23] TrySound opened #8 "slide prev on index 0"
https://github.com/meandmax/lory/blob/master/src/lory.js#L301

Change to:
[code]

[2015-04-12 23:24] TrySound commented on #8
ASAP!

[2015-04-13 06:51] meandmax commented on #8
I will look at your issues when Im back home on friday, otherwise you could do a pull request. ;-)

Cheers Max

[2015-04-13 17:53] TrySound opened #10 "jscs line breaks"
`"validateLineBreaks": "LF"` doesn't allow to validate code on windows. So, I suggest you to remove it, because git will automatically replace linebreaks.

[2015-04-14 10:38] kubosho opened #11 "feature request: centerMode option (ref: slick)"
Hello.

I currently working replace carousel library from [slick](http://kenwheeler.github.io/slick/) to lory.

This work want to centerMode option of slick, but lory is not implement centerMode option.

Are you planning to do it in the future?

Thanks.

[2015-04-14 13:56] meandmax commented on #11
Hey @kubosho,

thought about that feature a couple of times and was just waiting if someone really needs it. So I will implement it, because I think as well that this is a basic option.

cheers Max

[2015-04-14 17:11] kubosho commented on #11
Thanks to reply @meandmax. I looking forward to implementing centerMode option.

[2015-04-15 16:20] #7 closed

[2015-04-15 16:20] #8 closed

[2015-04-15 16:27] meandmax commented on #10
Have you tried this:

https://github.com/karma-runner/karma/issues/993

or

https://github.com/ramda/ramda/issues/468

cheers Max

[2015-04-15 16:27] #10 closed

[2015-04-15 16:30] TrySound commented on #10
Thanks, will try.

[2015-04-15 17:09] TrySound opened #13 "Add dot pager"
Simple pager like [here](http://jquery.malsup.com/cycle2/demo/pager.php)

[2015-04-15 17:11] TrySound opened #14 "Responsive: true"
Auto computing slide width out of the box.

[2015-04-16 02:38] kubosho commented on #11
Hi, @meandmax.

I trying to implement centerMode now, because my current work needed immediately centerMode option.

If implement centerMode completed, I will sent Pull Request.

Thanks.

[2015-04-17 07:54] meandmax commented on #14
Hey @TrySound,

thanks for the feature request!

I do not think that this is a good idea. I showed in my examples how to make slides responsive via css mediaqueries, and I really don`t like the approach to do everything in JavaScript just because I can.

I think this the job can and should be done only in CSS and not in JavaScript.

Thanks, Max!

[2015-04-17 07:54] #14 closed

[2015-04-17 07:57] meandmax commented on #11
Hey @kubosho,

yeah! I really appreciate that! Just back from Portugal and already lots of work to do! If you need help, just ask, I would implement the feature at the weekend if you have not started yet!

cheers Max

[2015-04-17 08:21] TrySound commented on #14
@meandmax I need fluid slider, but not fixed. Do you have idea how to make it?

[2015-04-17 08:50] meandmax commented on #5
Hello @OVes,

sorry for the delayed feedback ... I was on holidays. So I checked your problem and for me everything is fine ... I just didn`t document it. sorry. Now I updated the documentation and the example in the demo folder.

[code]

If you have a better idea than adding the function to the jQuery data object, feel free to make a pull request.

I hope this will help you.

cheers Max

[2015-04-17 08:50] #5 closed

[2015-04-17 08:56] meandmax commented on #13
Hey @TrySound,

Would be interesting if you could implement your on pager module and using the hooks and the public api from lory for the state updates. What do you think about that?

I think that would be the right way for these kind of features, what do you think about that?

cheers Max

[2015-04-17 09:19] TrySound commented on #13
@meandmax  What is hooks?

[2015-04-17 09:25] TrySound commented on #13
@meandmax  I think you need to move functions outside of lory constructor for optimization.

[2015-04-17 13:36] kubosho commented on #11
@meandmax
I implement centerMode complete. I'm going to send Pull Request soon.

[2015-04-19 18:37] #11 closed

[2015-04-20 09:07] meandmax commented on #13
Hey @TrySound,

could you explain what you mean? You have some default callback functions (hooks) where you can set what should be executed e.g. before slide -> there you could register a callback of your dotPager that before or after slide the dotPager should be executed.

Look into the defaultOptions object.

Then we need to add a function to get the current index and we need a function to actua

[2015-05-18 09:04] TrySound opened #20 "Supported browsers"
IE9 also supported but with graceful degradation. Everything works fine.

[2015-05-22 08:03] SiamKreative opened #21 "Looks like it's not working if width isn't specified"
When I copied the markup + Prerequisted CSS styles from the demo page, slider didn't work. It seems to be because in the demo you actually specify a fixed width for the `li` element.

[code]

So my question is... is there a way to make it work out of the box, without specifying a width? I feel like it's a bit annoying to specify a fixed width in a responsive context.

[2015-05-27 18:47] meandmax commented on #13
Hey @TrySound,

I added the function returnIndex to the public api. If I would add the callback "afterSlide" to the options would that allow implementing a dotpager independent of lory?

cheers Max

[2015-05-27 18:49] meandmax commented on #20
I don`t have IE9 in the current browser matrix ... does it work? :)

cheers Max

[2015-05-27 18:55] meandmax commented on #21
Hey @SiamKreative,

this feature is currently not supported, because I didn`t want to handle styling in my JavaScript.

But if you want to set a own width of the slides dependent on the browser width you can always listen to the resize event and call lory.reset() afterwards which would re-initialize lory with the current widths of the slide elements.

Maybe this is a little Add-on. I really try to

[2015-05-27 18:55] #21 closed

[2015-05-27 19:18] TrySound commented on #13
@meandmax How to init pager for every instance calling just API?
In martin I realized hooks as a function calling before init callback.

[2015-05-27 19:19] TrySound commented on #20
@meandmax Yes, I tried it on my virtual machine. It works fine without transitions.

[2015-05-28 08:40] SiamKreative commented on #21
I'm not sure you understood me correctly. I meant that Lory didn't work with PREREQUISITED HTML & PREREQUISTED CSS STYLES:

![image](https://cloud.githubusercontent.com/assets/1778633/7855947/94b3656c-054f-11e5-8e82-144b85ad68c5.png)

I had to manually specify a width in pixels for the `<li>` elements. This is what you're doing in your stylesheet [app.css)(http://meandmax.github.io/lory/demo/app.c

[2015-05-28 09:37] meandmax commented on #21
Yes I understood you. I didn`t add a width to the demo css because it`s always different. But you are right that I need to mention that you have to specify a width for the "li" element.

Thanks for the advice!

cheers Max

[2015-06-10 16:25] enzy opened #23 "Cannot change curent slide because of percentage width"
Live at: http://beta.mangoweb.cz/respekt/page-homepage.html#slider1

Part `fotogalerie/video`
[code]
[code]

[2015-06-11 08:38] enzy commented on #23
Debugged:
`slidesWidth` and `frameWidth` are the same number and then `maxOffset = 0`

[2015-06-19 16:35] shshaw commented on #20
I just tested it on IE9 as well and the demos seem to be working as expected, minus transitions. :+1:

[2015-06-19 16:44] shshaw commented on #13
Would also need to consider how the paging would function with the `slidesToScroll` option. Should the number of dots correspond to the total number of slides, or to the number of 'pages' (`total / slidesToScroll`)? I'd expect the latter.

[2015-06-22 08:37] meandmax commented on #20
Thanks for reporting it. I added IE9 to supported Browsers.

Have a nice week
cheers Max

[2015-06-22 08:37] #20 closed

[2015-06-30 07:53] meandmax commented on #23
Hey @enzy,

sorry for the late answer! Do you still have a problem with percentage width?

cheers Max

[2015-06-30 08:23] enzy commented on #23
I have switched to another slider instead...

[2015-06-30 08:26] meandmax commented on #23
A alright, sorry for the late support! I will try to implement this feature!

cheers Max

[2015-06-30 08:26] #23 closed

[2015-07-08 22:07] davidchase commented on #13
I was able to create a pager, that works with multiple instances of lory on a page..
**+1** for keeping the slider simple and providing hooks and `returnIndex` @meandmax

[2015-07-09 11:12] meandmax commented on #13
Oh nice! Do you think you could put it on Github that everybody can see how you made it?

thanks @davidchase

[2015-07-09 11:12] #13 closed

[2015-07-15 06:20] Cordazar commented on #14
@TrySound Lory has since been updated to work with responsive slides.

[2015-07-15 07:17] TrySound commented on #14
Thanks, @Cordazar!

[2015-07-21 19:26] caiotarifa opened #29 "Option to change default CSS class name"
What about extend options to change the default CSS class name?

[code]

[2015-07-21 21:06] caiotarifa commented on #3
Is there any resolution about his?

[2015-07-27 14:02] davidchase opened #30 "Swipe on iphone bit janky"
So if you visit the [lory website](http://meandmax.github.io/lory/) on the iphone.. i used chrome and try to swipe say `single element fixed with [infinite]` it seems a bit janky going from slide to slide...

On the contrary if you use the arrow keys the slides seem to move smoothly as expected.

Anyone else have a similar issue?

Also tested on safari a bit better but also not as smooth as using

[2015-07-27 15:23] fde31 opened #31 "API misses destroy functionality"
I might be missing something but it appears to me that lory is missing some sort of destroy functionality in it's public API. Having a way of cleaning up eventListeners etc seems somehow crucial to me to in order to make lory usable in single-page applications. Any thoughts/considerations about that?

[2015-07-29 14:30] fde31 commented on #31
OK. I've added this myself and made a PR in #32.

[2015-08-01 12:35] meandmax commented on #31
done!

[2015-08-01 12:35] #31 closed

[2015-08-01 12:37] meandmax commented on #29
Could you give me some arguments why do you need these dynamic class names?

cheers Max

[2015-08-05 10:59] Cordazar commented on #29
One thing could be if you wanted to keep a bem-style naming scheme and not use extra js-classes for the slideshow.

[2015-08-06 00:35] caiotarifa commented on #29
As the @Cordazar said, I wouldn't want follow the pattern that the plugin requires me.

I believe this is an easy feature to implement and don't encumber in loss performance or increased file size.

So, what about? :)

[2015-08-06 09:03] icetee commented on #30
+1

[2015-08-20 07:48] Cordazar commented on #30
I'm looking into this a bit more. If I find something I'll make a PR.

[2015-08-24 08:12] #29 closed

[2015-08-26 06:01] Cordazar commented on #30
@davidchase Could you please try this with the current demo page and see if PR #37 helped?

[2015-08-26 12:42] davidchase commented on #30
@Cordazar i loaded it up in my chrome browser on my iphone in incognito tab and same as before.. the swipe behavior isn't on par with the arrow keys on either side of the slider..

So when you swipe the demo slides they jump/snap to the next or previous, however if you use the arrows the transitions are smooth like expected

[2015-08-29 12:39] meandmax opened #41 "ES6, modularize + webpack"
@TrySound, @Cordazar

I think about reorganizing the code in modules with es6 features and bundle everything up with webpack and babel?

What`s your thoughts on that?

Here some changes, what it could look like?
https://github.com/meandmax/lory/tree/feature/webpack

cheers Max

[2015-08-29 13:12] TrySound commented on #41
@meandmax es6 looks good. I don't use webpack.

[2015-08-30 22:11] Cordazar commented on #41
I'm all for ES6 and babel. Haven't used webpack though so I can't say either way, modules I do like though.

[2015-08-31 05:51] TrySound commented on #41
Gulp forever :)))

[2015-08-31 07:35] meandmax commented on #41
The only problem that I see with es6, babel and modules is that it gets more than a kb bigger in the minified version. Reason for that is the boilerplate code from babel +  webpack.

@TrySound: I do like Gulp but with lory I don`t think Gulp makes a heavy difference, so I would rather stay with grunt until all other issues or problems are solved ... :D

Still thinking about it ...

Have a good wee

[2015-09-07 11:51] meandmax commented on #41
Any suggestions on my latest changes?

https://github.com/meandmax/lory/tree/feature/es6/

cheers Max

[2015-09-08 17:13] keithws opened #42 "slides do not automatically start sliding"
A user must click the next or previous control to see the another slide. In some cases, it is nice to have the slides automatically scroll to the next slide after a predetermined amount of time.

[2015-09-26 19:50] #41 closed

[2015-10-02 14:19] sabeurthabti opened #48 "[suggestions] React component"
This would be a nice, React component.

[2015-10-14 14:42] meandmax commented on #42
Please try to build this in your integration or as a plugin as said in the pull request comments.

Thank you very much!
cheers Max

[2015-10-14 14:42] #42 closed

[2015-10-14 14:47] meandmax commented on #48
Hello @sabeurthabti,

in my opinion is this not the purpose of lory and I already thought about this quite a lot. I think to translate lory in react, you actually have to write lory from the scratch new. lory is for the use cases where you not want or you can`t use react.

If you need a slider which works actually with react, have a look at this:
https://github.com/akiran/react-slick

Thanks anywa

[2015-10-14 14:47] #48 closed

[2015-10-27 02:27] SiamKreative commented on #14
@Cordazar Can you please point me to a working example with fluid slider? I'm struggling to get this working.

[2015-10-27 08:16] Cordazar commented on #14
@SiamKreative Here it is used on a live-site http://www.expressen.se/geo/mats-larsson/tjejerna-som-surfar-mot-normerna--hittar-gladjen-pa-vagorna/

[2015-10-27 08:30] SiamKreative commented on #14
*Thanks for getting back to me* :)

Because I was unable to find documentation about fluid sliders, I decided to look around for another library agnostic script and I found http://wd.dizaina.net/en/scripts/peppermint/. It honestly suits me better as there's no additional work required to get it working with fluid sliders.

Still, I will check out your example to see how easy it easy to implement.

[2015-10-27 08:32] Cordazar commented on #14
@SiamKreative

You can also check the official page, http://meandmax.github.io/lory, and the examples for fluid sliders:
- Single element - Percentage width [infinite]
- Single element - Percentage width [rewind]

[2015-11-02 18:27] Dangoo opened #83 "Remove inline-styles on .destroy()"
**Problem:**
lory.destroy() does (currently broken see https://github.com/meandmax/lory/issues/84) unregister the slider but the styles on the js_slide element remain which can cause odd optical behaviour.

**Solution:**
Maintain added styles as object and on delete match against the current inline styles of the element (to prevent foreign styles to get deleted) and remove the ones added by lory b

[2015-11-02 18:38] Dangoo opened #84 ".destroy() has no effect"
**Is:**
The .destroy() method of a lory instance has no effect => the event listeners are still active after calling.

**Should:**
The .destroy() should remove all eventListener responsible for that instance.

**Update:**
Problem are the nested addEventListener calls in `onTouchStart` which gets invoked by addEvenListener and on delete removed by removeEventListener. But the eventListeners added i

[2015-11-03 14:16] nring opened #88 "IE9 Functionality Broken"
I tried running the demo HTML files in IE9 and I'm getting an error:

[code]

This obviously relates to IE9 not supporting classList
``` if (element.classList.contains(classNameActiveSlide)) {```
but including the [suggested shim](https://github.com/eligrey/classList.js/) doesn't help either. As far as I can tell, the shim should be able to be included in the page to enable classList functionality

[2015-11-03 17:31] nring commented on #88
Correction to Original commit - the shim now works fine, no errors are reported. I was seeing errors due to something wrong on my end.

However functionality is still broken. On your demo page, none of the examples work. Though the "Showing Events" example still displays dispatched events.

[2015-11-03 18:51] nring commented on #88
Added [pull request #89](https://github.com/meandmax/lory/pull/89). The build failed, I'm not sure if it's because of my code changes or the automated babel updates. Please advise

[2015-11-04 22:19] meandmax commented on #88
Is the classlist topic fixed?  Than we can close this issue.

cheers Max

[2015-11-05 17:46] meandmax commented on #88
@nring,

I close this issue with the assumption that the classlist shim works fine.

cheers Max

[2015-11-05 17:46] #88 closed

[2015-11-06 10:50] meandmax commented on #84
@Dangoo,

I removed all eventlisteners, and as far as I can see all listeners are gone. Hope this helped.

thx Max

[2015-11-06 10:50] #84 closed

[2015-11-06 10:54] meandmax commented on #83
@Dangoo,

I removed all eventlisteners, and as far as I can see all listeners are gone. Hope this helped.

thx Max

[2015-11-06 10:54] #83 closed

[2015-11-06 14:54] nring commented on #88
Yup looks good - I wanted to wait to test the updated version before closing myself. Thanks for the quick update.

[2015-11-11 13:14] ZauberNerd opened #100 "Removing the default export breaks the public API without a major update"
The change in 95aa9d4 is a breaking change but does not increase the major version of this package.
see: https://github.com/meandmax/lory/commit/95aa9d4e878baa4f400581138e98581e381975bd#commitcomment-14328452

[2015-11-11 13:25] TrySound commented on #100
:+1:

[2015-11-11 13:59] KingHenne commented on #100
+1

[2015-11-13 11:09] luboskmetko opened #106 "Vertical slider"
First of all, thanks for the great non-jQuery slider, there aren't many of them.

Is there any trick how to make lory work as a vertical slider? Or would this require updates to the lory itself?

Thanks

[2015-11-13 22:13] nring commented on #88
The newest (1.6.7) no longer works in IE9 again. Locally I'm seeing a "Symbol is undefined" error on line where lory is initialized. On the demo site, I see a different error saying "Unable to get value of the property 'contains': object is null or undefined." 1.6.6 shows the same errors.

Shall I create a new issue or can you reopen this one?

cc @levito

[2015-11-13 22:54] meandmax commented on #100
ptal @ZauberNerd @TrySound @KingHenne

https://github.com/meandmax/lory/tree/revert-babel6

I have not thought about that this is actually a breaking change, sorry ;-) ...

For the reason that Babel6 is currently a big mess I made a step back to good old Babel5 and also pinned down all other dependencies to their fixed versions.

Have a nice weekend!
Max

[2015-11-14 07:59] TrySound commented on #100
@meandmax What's wrong with babel6?

[2015-11-14 11:37] meandmax commented on #100
@TrySound I will wait until the Babel6 fixing flood is over. At least I need a solution that will not break the UMD wrapper and will work as a default in all common js environments.

[2015-11-14 11:43] TrySound commented on #100
@meandmax Try [rollup](https://github.com/rollup/rollup). Much smaller then webpack loader. Supports any output format

[2015-11-14 18:20] meandmax commented on #100
As I discussed with @ZauberNerd and a couple of other lory users, we will keep the changes with Babel6 and for the future I will be more careful with breaking changes.

Have a nice weekend!
Max

[2015-11-14 18:20] #100 closed

[2015-11-19 08:40] KingHenne opened #118 "Remote tests fail for pull requests"
http://docs.travis-ci.com/user/pull-requests/#Security-Restrictions-when-testing-Pull-Requests:

Therefore you should consider running the Sauce Labs tests only if `process.env.TRAVIS_SECURE_ENV_VARS === 'true'`. Otherwise you could let Travis run the tests only in PhantomJS so pull requests can be verified to some degree.

[2015-11-21 10:51] ginsterbusch opened #125 "Support of direct slide switching (w/o animation effects)"
Thanks to the fact that you've effectively eleminated any kind of way to directly get in contact you, I am forced to ask my rather simple question in here:

Does the slideshow script support DIRECT jumps to a specific slide? That is, __without__ doing any kind of animation effect, basically switching directly to the selected slide?

TIA,
cu, w0lf.

[2015-11-23 10:11] baptooo opened #126 "Browserify require"
Hello @meandmax, I have noticed an issue when importing the library on browserify.

As the "main" property in package.json refers to "dist/lory.js", there is a wrapper on the library apparently and the module imported looks like this,

    {
        __esModule: true,
        lory: function() { ... }
    }

I moved back to v1.2.6 which works fine actually.

Thank you very much !

[2015-11-27 16:27] meandmax commented on #125
Hey ginsterbusch:

in the optionsobject set the slideSpeed to 0, that should work.

lory(sliderElement, {slideSpeed: 0});

[2015-11-27 16:27] #125 closed

[2015-11-27 16:57] ginsterbusch commented on #125
Guess I wasnt specific enough: How would I do that when the object is already instantiated?
The use case is rather simple: You've got a bunch of images, and on click you get an overlay, that displays the image plus HTML content (eg. caption or a bigger descriptional text block).

Think of it in terms of a fancy, responsive lightbox thingy.

So when the user closes that overlay, and then goes on to

[2015-11-30 14:20] GiuTaeKim opened #133 "Slides display and position suggestion"
Hello. I rly appreciate the work you are doing for developing good-quality vanilla extensions.

I like lory features. But the only thing that makes me step back to using on my projects is related about how the slides are positioned and the default css styles.

__It's well known that inline-block is suposed to not be used for grid-like design__ (Google it). As is not floated, the browser show it li

[2015-11-30 14:40] Cordazar commented on #106
It would require updates to lory itself. Currently everything is calculated based on widths.

[2015-12-02 14:53] hchargois opened #138 "Feature Request: differentiate "active" and "inactive" controls"
To improve the meaningfulness of the 'js_prev' and 'js_next' controls, one should be able to style them differently if they are "active" or not, that is, if clicking them will actually move the slider or not.

For example, the 'js_prev' control does nothing when the slider is at the start position, but the 'js_next' will move the slider, and you may want to show a dull grey left chevron and a bold

[2015-12-11 18:31] lalop opened #148 "error with 1.6.8 `TypeError: _lory2.default is not a function`"
use lory in a webpack build and I get this error when I call `lory(slider, {});`
My code is only what is writen in the Readme.

It seems that _lory2 is due to webpack but I can't say more.

[2015-12-12 12:21] lalop commented on #148
the error come from the `import`

[2015-12-12 12:22] lalop commented on #148
I'm not sure if it's the readme that needs to be updated or the export;

[2015-12-15 09:02] meandmax opened #149 "Tests in IE failing on Travis CI"
Does anybody has an idea why the tests in IE are failing? I really do not have any idea ...

Thanks for help!

![bildschirmfoto 2015-12-11 um 10 26 14](https://cloud.githubusercontent.com/assets/6309638/11806368/d7d63dcc-a312-11e5-9021-07d74857758b.png)

[2015-12-15 12:21] meandmax commented on #138
Hey @hchargois,

you could do this by using returnIndex and compare the value with the total length of the slides or zero! And I would do this always on "after.lory.slide".

If "infinite" is false, and the returned index is either 0 or the max length of your slides, then you add/remove a class which shows the active/inactive state.

Does this help?

[2015-12-15 21:19] tshedor commented on #149
@meandmax IE 9 doesn't support [`classList`](https://developer.mozilla.org/en-US/docs/Web/API/Element/classList). [This polyfill](https://github.com/eligrey/classList.js/) did the trick.

[2015-12-15 21:23] tshedor commented on #149
Depending on how much you value IE9 support, you could replace [the problem lines](https://github.com/meandmax/lory/blob/master/dist/lory.js#L124) with [`classList`-less functions](http://jaketrent.com/post/addremove-classes-raw-javascript/).

I've got some experience with this and can open a PR if that'd be easier.

[2015-12-16 12:21] meandmax commented on #149
Hey @tshedor,

thanks for the help!

As you can see in "saucelabs.karma.conf.js" I already integrated this polyfill for the tests, and it worked so before I implemented async tests which actually measure the current offset of the slider or am I doing anything wrong?

[code]

Thanks a lot for investing some time!
Max

[2015-12-16 12:23] meandmax commented on #149
And actually there are just 7 tests which fail in the IE9, the rest works so far. If there would be a problem with classlist, then all tests in IE9 would fail or what do you think?

Max

[2015-12-16 12:32] meandmax commented on #148
Hey @lalop

I will look into this! Thanks for the report!

Max

[2015-12-16 12:34] meandmax commented on #126
This could be actually a bug caused by the update to babel6 .. Have u tried to import the module like the following:

[code]

Sorry for this breaking change! That was not my intend.

Max

[2015-12-16 12:35] meandmax commented on #126
This issue will be fixed by

https://github.com/meandmax/lory/issues/148

[2015-12-16 12:35] #126 closed

[2015-12-16 17:04] meandmax commented on #133
Hey @GiuTaeKim,

I really do not give you any specifications on how to structure your css to get it up and running. Yeah I could imagine that lory has more examples with different layout variants, so feel free to either contribute.

If u can use other css models that work better for you, just use it. My CSS is actually just for demo purposes.

In my daily business I rarely use floats (just for tex

[2015-12-16 17:04] #133 closed

[2015-12-16 21:17] meandmax commented on #148
Babel 6 changes how it exports the default and the reason for this is actually valid es6. Everything before was incorrect behavior. So the solution here is to update the README (which I will do immediatly) and import lory as you already suggested.

Here the discussion: http://stackoverflow.com/questions/33505992/babel-6-changes-how-it-exports-default

So for es5/commonjs it will be:
[code]
And for

[2015-12-16 22:04] meandmax commented on #148
Have a look:

https://github.com/meandmax/lory/pull/150

[2015-12-16 23:20] tshedor commented on #149
Yeah, that's a good point - they would all fail if it was classList. I'll try this in a VM.

[2015-12-16 23:26] tshedor commented on #149
All seven of those tests include the `waitForTransitionEnd` callback - I wonder if it's having a hard time with the `&&` in `done && done()`?

[2015-12-17 08:37] meandmax commented on #149
I will give it a shot!

[2015-12-17 10:14] meandmax commented on #149
https://github.com/meandmax/lory/pull/153

deactivated the tests in IE9 temp. ... if anybody has an idea, feel free!

Max

[2015-12-18 18:05] hchargois commented on #138
Hi,
I thought about doing it this way but:
1) This doesn't work when `slidesToScroll > 1`. And there's not easy fix such as adding the number of `slidesToScroll` to the `returnIndex` or something, because `returnIndex` is inherently broken at the end of the carousel (after the last slide action that slides to the complete end of the carousel, `returnIndex` is the same as the previous slide). For t

[2016-02-04 18:26] wjonesy opened #190 "Initialising multiple sliders only initialises prev/next buttons for first slider."
I am using custom classes for classNameFrame and classNameSlideContainer, the first slider is fine.

All the other sliders work, but the prev/next buttons only work on the first slider.

`(function () {
    var School = {
        init: function () {
            this.sliders = document.querySelectorAll('.js-school-tabs-slider-wrapper');
            this.bindEvents();
        },
        bindEvents:

[2016-02-09 15:39] aderaaij opened #197 "returnIndex value not correct on multiple slides"
Heya! Like I already mentioned on Twitter: Love the slider and lack of compromises to make it nice and modern. Also loving the events, but I do have a question on those though.

I make a lot of use of `returnIndex`, but it seems that it doesn't return the right number in the following case:

When you have a slider with multiple items to slide, i.e. 'slidesToScroll:4' but an amount of slides that d

[2016-02-21 11:41] meandmax commented on #197
I will look into that asap, sorry for the late answer ... might be a bug.

[2016-02-21 11:59] meandmax commented on #190
There is a typo in in the following lines:

[code]
should be this:

[code]

I query the buttons based on the outer `js_slider` so it normally should work.

https://github.com/meandmax/lory/blob/master/src/lory.js#L227-L228

If u still have problems, send me your source and I will have a look.

cheers Max

[2016-02-22 20:38] OutThisLife opened #216 "Add to jsdelivr/cdnjs?"

[2016-02-24 00:34] yahreen opened #219 "Prev / Next buttons not working"
Here is my markup:

[code]

My JS:

[code]

When I click on `js_next` nothing happens. If I drag the `js_slide` elements with my mouse, the slider works as intended.

[2016-03-15 11:13] Yimiprod commented on #125
I know it has been closed but wan't an anwser too.
Since the options are extended, we can't do trick like change the option.slideSpeed to 0 then revert it back to normal speed.

[2016-03-15 11:46] ginsterbusch commented on #125
@Yimiprod well, it's pretty simple: I'm rolling my own (framework-agnostic, API-exposing, etc. slideshow script), as there aint not slideshow / carousel scripts around, that offer this much flexibility ;)

cu, w0lf.

[2016-03-15 12:45] Jinkwon opened #237 "on resize lory bug"
Hi lory.
First of all, Thanks good lib.
I found some issue in lory.

I moved to 3rd panel, and then I tried to resize window.
And bug appeared in here, lory panel go to 1st panel.

So, I tried such as code.
But I think it should be default.
Can you give me some advice?

Thanks for your effort.
[code]

[2016-03-17 17:21] Mobius1 commented on #219
Make sure you add both the prev and next buttons otherwise it won't work.

[2016-03-23 16:28] ThiRaBrTNK opened #241 "sliding to hidden slides"
lory tries to slide to slides, which are `display: none`. I kinda fixed it in [my fork](https://github.com/ThiRaBrTNK/lory), if it's ok I'll PR it.

[2016-03-28 01:14] Jinkwon opened #245 "Could you update babel build?"
Hi, lory.

I have some issue with lory.js.
In lory babel builder version,  default is reserved keyword in IE8.
So it takes break with load lory, even it does not use it.
Babel 6.7.4 version fixed this issue with es3 plugin.
Could you review this issue?

[code]
default should be ['default']

Follow this release version.
https://github.com/babel/babel/releases/tag/v6.7.4

[2016-03-30 12:06] meandmax commented on #245
Updated all dependencies! Please tell me if everything works fine now!

[2016-03-30 12:06] #245 closed

[2016-03-30 15:53] #190 closed

[2016-03-30 21:28] meandmax commented on #216
https://github.com/jsdelivr/jsdelivr/pull/10714

[2016-03-31 11:17] meandmax commented on #216
It`s also in the docs! Thanks for the heads up ;-)

[2016-03-31 11:17] #216 closed

[2016-04-03 16:02] afmarchetti opened #250 "Collaboration"
Hi Meandmax, you are a genius! lory is awesome.
I'm Andrea a Developer from Italy :-)

Can i use lory in my new front-end framework? take a look: https://github.com/afmarchetti/alux
It would be great to add a slider as lory, obviously with the credits and the license you want.

Thank you for your great job,
have a nice day.
Andrea.

[2016-04-05 07:00] meandmax commented on #250
As I said! Of course you can :+1: its open source ;)

[2016-04-05 07:00] #250 closed

[2016-04-11 18:11] DCKT opened #255 "[Help] Slide width 100%"
Hi,

I'm encountering a strange issue, I put all the div to `width: 100%;` but when I look in the Dev tools, it's not work and by the way the translate doesn't work well.

Here is a screen of :
<img width="426" alt="capture d ecran 2016-04-11 a 20 08 05" src="https://cloud.githubusercontent.com/assets/1548421/14437427/6cde2e0a-0021-11e6-9358-cb73bc09bdf6.png">

The `.frame` div fill correctly the

[2016-04-12 07:49] nlemoine opened #256 "Start index"
Hi,

Thanks for this excellent carousel, it has just the features I need.

However, I ran into an issue, I reproduced it in a codepen:
http://codepen.io/hellonico/pen/XdZxmp

- no event is binded on prev/next buttons
- carousel starts at index 2 and skip index 1 when playing

I'll try to figure out what's going on but you'll probably spot the issue faster.

[2016-04-14 14:48] slavikse opened #257 "does not activate the last element and incorrect positioned"
<a href="http://www.zimagez.com/zimage/screenshot-14042016-173634.php">
  <img src="http://www.zimagez.com/miniature/screenshot-14042016-173634.php" />
</a>
on the screen: this is the last slide
as you can see he is not selected as active and not being correctly positioned.

code:

[code]

[code]

ps: in the rest of the library is great! Thank you for your trouble! :)

[2016-04-24 00:19] leonardofaria commented on #197
@aderaaij could you post your example?

[2016-04-24 12:10] aderaaij commented on #197
@leonardofaria I'll set up a demo asap, will report back!

[2016-04-26 16:24] nlemoine commented on #256
Ok, I figured out I had to set `display:block` on the `carousel__slides` item.

[2016-04-26 16:24] #256 closed

[2016-04-28 16:39] Yimiprod opened #266 "Calculs size calcul slide break if loading the lib too quickly"
If we append the slider in the dom and load a lory.js slider, the calcul can be wrong, because the dom haven't already registered the width of the slides.
It can be restored with a call to `.reset()` the first time a slide animation is triggered, for exemple.
That way the calcul is done when the user send the first slide.

[2016-05-05 20:21] andersonfelix opened #281 "Carousel as navigation for another"
How does it work using Lory? Any idea?

A Flickity Example: http://codepen.io/desandro/pen/wByaqj

[2016-05-07 02:34] davehax commented on #237
Hi Jinkwon,

Recently for a project i modified the distributed "Lory.js" file to maintain the current slide index on window resize. Unfortunately i'm unsure on how to contribute this to the source files.
Here are the relevant functions:

[code]

[code]

[2016-05-17 06:14] #148 closed

[2016-05-17 09:02] lalop opened #285 "browser support"
Can we have a list of supported browsers ?

[2016-06-01 19:35] nstanard commented on #255
Please isolate the issue. ^^

codepen.io

[2016-06-01 19:38] nstanard commented on #237
I'll work on this if it's alright!

[2016-06-03 05:21] jtree5757 opened #299 "iPhone starts on second slide"
Just as the title says. Has anyone else come across this?

[2016-06-06 14:59] anghi commented on #257
The missing font-size: 0; in the .frame class causes wrong calculation

[2016-06-06 15:01] toineghi commented on #257
The missing font-size: 0; on the .frame class causes wrong calculations.

[2016-06-08 18:52] riotcku commented on #197
I have a similar issue, but a simpler one.

When I use ```returnIndex()``` at the last slide (length - 1) with the ```rewind``` option as ``` true```, I get the wrong index, specifically it returns the index of the previous slide. If this is a separate bug from this issue, please let me know and I'll make a separate issue.

[2016-06-22 16:47] riotcku commented on #237
I made an option to change this behavior in this PR: https://github.com/meandmax/lory/pull/312

[2016-06-22 20:26] riotcku commented on #197
@meandmax @aderaaij Figured the bug out.

This is because Lory uses an offset for calculation of the next index. HTML adds 4px margin between every element that are ```inline-block``` with whitespace. This causes this conditional statement
[code]
to not fire, not updating the index.

Solution is either using CSS (One simple workaround could be a selector of non-first-child that applies margin-left

[2016-06-30 20:11] nstanard opened #318 "iOS touch to scroll on the slider"
I've only tried this on my iPhone 5 and this old iPad. But... Touching the slider to scroll down causes the image to jump to the first slide. It corrects itself after the next transition.

On my iPhone this happens every time. On this iPad I have to be rather aggressive with the touch/scroll interaction to get it to happen. I loaded the lory.js demo site and confirmed it happens to me on there too

[2016-06-30 20:13] nstanard commented on #318
Note: the rewind option causes the jump to the first slide to actually animate.

[2016-07-05 15:02] kbytin opened #323 "dot pager ?"
I saw this ussue is closed now https://github.com/meandmax/lory/issues/13

Is it possible to have dot's pager?

[2016-07-07 16:13] linnett opened #327 "Breakpoint options"
Like in slick slider, you can change the options at certain breakpoints. I'm just wondering if this functionality is available for this plugin and how I would go about implementing it. Thanks

[2016-07-10 22:22] haggen opened #328 "infinite with slidesToScroll > 1 is broken"
http://codepen.io/haggen/pen/kXGjmv

Paginate by dragging the 4th block to the left slowly and you'll see that the page after the last one is going to move only 1 block instead of 4.

[2016-07-12 17:05] JeffWeim commented on #323
I'm wondering the same. The issue was closed before anyone showed a working example...

[2016-07-14 14:30] JacobDB commented on #3
Did you end up baking this in to the core, or no?

[2016-07-15 05:13] dduskim commented on #237
👍

[2016-07-19 10:20] thomasboulongne opened #340 "Destroy method does not remove the infinite extra elements"
When setting up the slider with infinite scrolling, and then detroying Lory, the clones of first and last elements are not removed.

[2016-07-22 12:41] Sokolua commented on #323
+100 for dots

[2016-07-25 09:29] nadeemkhedr opened #343 "Need `hasNext` & `hasPrev` methods"
Can reuse same logic when specifying `infinite: true`
we need these two function for building  `next` and `prev` buttons for sliders to disable & enable them

[2016-07-26 09:36] nadeemkhedr commented on #343
I know this is referenced in #138 but the answer there works well with slider that shows 1 item at a time, but for sliders that shows multiple items the case is different

you could be at slide 1 of 4 and next would be disabled because all of the 4 are shown

[2016-07-27 18:32] nadeemkhedr commented on #343
Able to solve if the number of slides visible at a time is known, closing the issue for now

[2016-07-27 18:32] #343 closed

[2016-07-29 11:11] thomasboulongne commented on #340
Already done in #146

[2016-07-29 11:11] #340 closed

[2016-08-01 09:59] meandmax opened #352 "Get Dev Setup straight"
Make use of webpack HMR to make development more comfortable

[2016-08-01 14:28] dbeja opened #353 "jquery plugin without $"
Hi,

I think the jQuery plugin is not correct, because if I use it on a Wordpress theme where the $ is not defined (to avoid conflicts), your plugin is waiting for the $ and it fails:

`jquery.lory.js?ver=4.4.4:65 Uncaught TypeError: Cannot read property 'fn' of undefined`

I think it should have an anonymous function with the object jQuery and inside you could use the $.

[2016-08-02 16:35] riotcku commented on #257
Read my answer on https://github.com/meandmax/lory/issues/197

I believe your problem is related, and I have a solution up there.

[2016-08-21 13:40] meandmax commented on #353
You still need a way to inject jQuery, right?

[2016-08-21 14:12] #352 closed

[2016-08-21 15:11] meandmax commented on #285
Its in the readme, I don't know the exact versions which are support but IE10 and with polyfill IE9 is also supported.

Max

[2016-08-21 15:11] #285 closed

[2016-08-21 15:12] #106 closed

[2016-08-21 18:11] lalop commented on #285
thank you

[2016-08-24 11:31] rekateka commented on #237
I only just noticed this behaviour, not by actually, well, resizing the browser window but instead by scrolling/swiping up and down a page in Safari on an iPad, causing the address bar (and subsequently the window) to resize. That might be a little be confusing for the user so I have a not-so-elegant solution for now:

[code]

Ideally it'd be great if this behaviour could be disabled altogether or

[2016-08-26 11:34] meandmax commented on #138
Hey @hchargois,

sorry for the late answer! Yes u are right so since the controls are already integrated in lory I totally understand your point. So if u want and still need this feature, make a pull-request on that.

Thanks for contributing!
Max

[2016-08-26 11:34] #219 closed

[2016-08-26 11:36] meandmax commented on #219
because of:

https://github.com/meandmax/lory/blob/master/src/lory.js#L247

[2016-08-26 11:39] meandmax commented on #327
Is not available for lory, lory is a lot lighter than slick. So if you nedd a lot more configuration, lory is probably not the right slider for this.

cheers Max

[2016-08-26 11:39] #327 closed

[2016-08-26 11:40] #241 closed

[2016-08-26 11:43] meandmax commented on #266
initialize lory when the DOM is fully loaded, then this shouldn't be a problem, right?

cheers Max

[2016-08-26 11:43] #266 closed

[2016-08-26 11:44] meandmax commented on #299
Do u still have this problem, seems nobody else had this? If so, please give a bit more description and details/screenshots ..

[2016-08-26 12:04] meandmax opened #394 "Improve structure of karma configuration files"

[2016-08-26 15:35] nolsherry opened #395 "The latest version problem"
Hello @meandmax,
I am the member of [cdnjs](https://github.com/cdnjs) project.
We want to host this library.
It seems that the version v2.1.0 is officially minified, but  the structure changed from v2.1.4
what is the best way to handle this? Thanks!

cdnjs/cdnjs#8784

[2016-08-26 18:12] meandmax commented on #395
Does my recently merged pull-request help?

Cheers Max

[2016-08-26 18:18] meandmax commented on #30
@davidchase, still an issue after merging this: https://github.com/meandmax/lory/pull/336

Please check ... :)

[2016-08-26 18:20] meandmax commented on #318
Hey @nstanard

After merging this: https://github.com/meandmax/lory/pull/312 + if u set your rewind to false that should not happen anymore, right?

Cheers Max

[2016-08-26 18:24] davidchase commented on #30
@meandmax checked it out on google chrome and safari looks great 👍

[2016-08-27 08:37] #30 closed

[2016-09-02 11:46] #237 closed

[2016-09-09 08:22] rtyshyk opened #405 "slideTo causes issue with scrolling when target slide is not visible"
Hello @meandmax,

It is impossible for a user to use manual scroll (dragging or arrows) after slideTo to a slide which is beyond the frame.
See example: http://codepen.io/rtyshyk/pen/KgdKqY/

Do you have any solution?

Thanks,
Roman

[2016-09-12 12:44] Cordazar commented on #405
That example works in my Firefox 50.

[2016-09-13 08:24] rtyshyk commented on #405
@Cordazar, it is reproducible on latest versions of google chrome (53.0.2785.101 m (64-bit)) and firefox (48.0.2)
see screencast  http://screencast.com/t/Kp34ABDd

[2016-09-15 07:03] #395 closed

[2016-09-15 15:48] jeebseven commented on #323
apparently working on one

[2016-09-19 10:31] miduga commented on #48
Hi there! I'm working on a wrapper here: https://github.com/miduga/react-lory

It's still a alpha, but it's usable on most cases if you want the slider to be responsive and slide one to one. 👍  Feedback is welcomed!

[2016-09-22 20:44] benni3005 opened #413 "Tag 2.2.0: Wrong version in bower.json and no changes in dist?"
Hi there,

first of all thanks for releasing this awesome slider. It's exactly what I'm needing at the moment. But there are two problems I encountered today while using it.

1. The version declared in the `bower.json` still states 1.2.6, so Bower was bugging me about it. It can handle those things automatically and installed 2.2.0, but there was a notice about a version mismatch:

2. The tag now

[2016-09-23 17:44] yoanmalie commented on #323
I would use Lory instead Slick.js. But the dot pager is the only thing is missing here to replace Slick in my workflow.
+1 For this Feature request.

[2016-09-26 08:12] jeebseven commented on #323
I'm gonna make a pullrequest within the week :)

[2016-09-26 10:05] nstanard commented on #323
You can create your own dot pager with the provided events people.... No need to bloat the project with stuff you can add on your own.

[2016-09-26 10:55] jeebseven commented on #323
Absolutely, but maybe not everybody knows how, but want to use the slider anyways.

TL;DR
In my opinion a great slider is one where you can 1. have a well documented api - which is here better then nothing but far from perfect - 2. you can extend it by your own code (check), and last but not least: have quite a few standardized options to pass through - like those mouse-click events. If it's about

[2016-09-26 13:47] meandmax commented on #413
I already updated the version of bower to the current one. The current dist files are up to date and with rewindOnResize like here:

https://github.com/meandmax/lory/blob/master/dist/lory.js#L370

Maybe Bower is doing something strange. As I updated the bower version a couple of days ago could you re-install lory and see if there are still old distribution files?

Thanks Max

[2016-09-26 14:01] benni3005 commented on #413
In the meantime I saw, that you did that in the master branch. But the tag was created before you did that, so https://github.com/meandmax/lory/blob/v2.2.0/dist/lory.js does not contain the `rewindOnResize` option. I think you just have to release a 2.2.1, so Bower can recognize the update.

Benni

[2016-09-26 16:26] nstanard commented on #323
"have quite a few standardized options to pass through"

Where does it end? Honestly... the thing I love about this slider is how minimal it is. I'm not a main contributor to this project so I don't have much weight to throw around but still.... programming isn't about having standardized options provided all the time. It's about understanding how things work and being able to adjust them the way

[2016-09-27 10:05] jeebseven commented on #323
I'm with you - totally - as a programmer. But as a user you can say - well may this slider is not for me if I need a dot pagination and cannot program it myself. Or whatever. Or you can at least be modular and say - well if you need a dot pagination then enable it - or just get it from that place and enable this js after lory.js has loaded. For sure you have to maintain more but as stated here it

[2016-09-27 11:28] nstanard commented on #323
If you open a PR and they accept it I cannot stand in the way. However, I think lory.js is fine without it and adding it simply because designers don't want to take the time to learn how to code is not a good reason.

[2016-09-27 17:10] yoanmalie commented on #323
Hey,
@nstanard, i don't know how to do this. I don't code JS.
BTW, i agree with @jeebseven. Feel free to put your PR and let's see if the plugin creator would accept this.

[2016-09-28 04:09] nstanard commented on #323
@yoanmalie, @jeebseven: http://kenwheeler.github.io/slick/

Have fun.

[2016-09-28 08:30] jeebseven commented on #323
@nstanard well jQuery dependancies. Not for me :)

[2016-09-28 08:31] yoanmalie commented on #323
@nstanard  Slick **Require JQuery**, Slick is oversized for most of my projects. Slick is 5× heavier.
Please, be relevant.

[2016-09-28 08:52] nstanard commented on #323
http://codepen.io/nstanard/pen/jrwymd

Have fun

[2016-09-28 08:59] nstanard commented on #323
@yoanmalie Why are you charged with maintaining sites if you don't use JS? You should have enough knowledge to setup API/Event calls to add and remove a class.

[2016-09-28 17:28] yoanmalie commented on #323
Wow. That escalated quickly. ᕕ( ᐛ )ᕗ

@nstanard You should have enough knowledge to ensure that your example works correctly and also, avoid bugs. Before "arguing" that i should to know JS.

i repeat: please, be relevant.
The fact that i can't code JS doesn't mean i can't use a libs or whatever.
Libs are made to save times and allow lot peoples to use them easily.

As @jeebseven said,

The third p

[2016-09-29 10:26] nstanard commented on #323
What bugs? Please be specific.

The example I provided didn't have click events on the list items and so clicking them didn't do anything. If you want that too then its' a few lines of code more.

First example with only visual feedback: http://codepen.io/nstanard/pen/jrwymd
Second example with click events on the list items using the public API method to slide to the index: http://codepen.io/nsta

[2016-09-29 12:34] nstanard commented on #13
How to make a dot pager with Lory.js

http://codepen.io/nstanard/pen/jrwymd
http://codepen.io/nstanard/pen/EgvVpV

[2016-09-29 14:43] meandmax commented on #413
I think this is fixed now ;)!

[2016-09-29 14:43] #413 closed

[2016-09-29 18:55] benni3005 commented on #413
It does. Thank you 👍

[2016-10-03 22:31] gustavopch opened #433 ""rewindOnResize: false" doesn't work when "infinite: 1""
First, thanks @meandmax and contributors. This package is great.

Second, as the title says, I think I found a bug.

Here it is: http://codepen.io/anon/pen/LROxGv

[2016-10-04 04:02] nstanard commented on #433
Here is a working example with rewindOnResize set to false.

http://codepen.io/nstanard/pen/amVwvR?editors=1010

Turn off infinite to get this to work.

[2016-10-04 10:33] nstanard opened #434 "README needs updated?"
I'm a little confused. I pulled down latest and on my local the readme seems to be correct in regard to the npm script commands available. However, when I look at the GH readme I see npm run dev as a listed command. Perhaps I'm missing something, but I wanted to bring it up quick.

The demo site appears to have the correct command listed though. So I'm not sure what the issue with the README file

[2016-10-04 13:50] gustavopch commented on #433
It's written in the docs that infinite doesn't combine with rewind. So having infinite enabled but setting rewindOnResize to false shouldn't be a problem, right? Because it would exactly avoid rewind.

[2016-10-04 14:43] nstanard commented on #433
Yea that's true, it only calls out rewind. I have a couple other changes I want to make myself to the rewind functionality so I'll try to take a look at that too.

[2016-10-05 09:17] Teun87 opened #436 "Set up autoplay for Lory? Help needed"
Hi,
I'm trying to set up an autoplay function for Lory, but I'm a bit stuck.
Is there a way to get the total number of slides out of the lory-object? At the moment I'm getting a wrong number since I'm trying to fetch the number through the DOM...

Also, I still need to figure out a check when the user clicks/hovers over (now the autoplay-function keeps on triggering).

Please help :)

What I've co

[2016-10-05 10:46] nstanard commented on #436
I don't have time right now to finish this example and give you all the details. But first thing I would mention is to avoid setTimeout and setInterval and instead use RAF.

http://codepen.io/nstanard/pen/kkvXao?editors=1010

I have provided a link to a stack overflow post explaining RAF and how to throttle it to get what you want. I then called the lory JS API method next() to have it go to the n

[2016-10-05 10:50] Teun87 commented on #436
So quick! Thanks for your great help.
Teun

[2016-10-10 09:19] Teun87 commented on #436
I've got it set up in my project, but there are a few errors left:

- When the first after.lory.slide event is triggered the active-class for a bullet skips the second one. It probably has something to do with 0- and 1-based arrays.
- Same category as the previous point: the last bullet never gets the active-class and when it continues playing the 1st slide is set as 2nd bullet (with active class)

[2016-10-10 09:56] nstanard commented on #436
I am working right now and don't have much time to finish the example with pause functionality. However, I suggest you fork the example and try to solve that part yourself!

The issues you mentioned can be solved with some simple math.
http://codepen.io/nstanard/pen/yaKxzK?editors=0010

[2016-10-10 10:08] nstanard commented on #328
http://codepen.io/nstanard/pen/kkvXao?editors=1010
http://codepen.io/nstanard/pen/yaKxzK?editors=0010

You have slides to scroll set to 4 with 9 slides... I don't believe the example you provide is an issue.

It slides four at a time as it should. Perhaps I'm not understanding what you are trying to point out?

[2016-10-13 09:54] linnett opened #444 "Fade In/Out"
Is fading rather than sliding an option?

[2016-10-13 10:23] nstanard commented on #444
Not currently. I'd argue that from a user-experience  perspective fading isn't as good also. Thoughts? Why are you looking for a fade over a slide?

[2016-10-13 10:45] linnett commented on #444
Interested to know your reasons behind why do you feel that it's a bad UX. Sliders like Slick use fade as an option - I think it's pretty common.

[2016-10-13 10:49] nstanard commented on #444
Well, responsive sliders (IMO) should have touch (tablet) interaction. When a user uses their finger to slide to previous or next slides and the slider doesn't move left or right - that's very odd to me. I understand that touch interaction can be turned off and not every site wants it. I also understand it's a common feature among other sliders. However, even the term 'slider' implies movement.

T

[2016-10-13 16:50] dhakelila opened #445 "Next and Prev buttons"
Hi there!

First, congratulations for your nice plugin!

Second, I have spent some time trying to figure out where the arrows for prev and next slider were. Not a big deal, I love to be able to put the arrows where I need them but I think that would be VERY useful if you add that info into the first specification you have: PREREQUISITED HTML STRUCTURE.

Thank you!

[2016-10-14 06:19] nstanard commented on #445
I don't feel this is really _needed_ but... Next time you want something like that you can pull the project down and add it, then open a PR. ;)

https://github.com/meandmax/lory/pull/447

[2016-10-14 06:26] nstanard commented on #444
Also... You don't need very much code to create your own pure JavaScript fadein/fadeout carousel.

Here are multiple examples that you can take a look at to get the functionality you want.

Simple fadein/fadeout carousel:
 - **https://www.christianheilmann.com/2015/04/08/keeping-it-simple-coding-a-carousel/**

Make it have images that are responsive:
 - **http://www.fredparke.com/blog/css-padding-

[2016-10-14 06:35] nstanard commented on #434
Lol - I wasn't looking at the README at first. I had the demo index.html file open and wasn't paying close attention to what file I was reading. Opening up a PR now with a README update.

[2016-10-14 07:11] nstanard commented on #255
@DCKT Please provide a link to a demo on codepen.io so we can take a look at what issue you are having.

[2016-10-14 07:19] nstanard commented on #318
@meandmax What events should cause the slider to rewind? I know resize causes it to rewind if that option is not set to false. However, on my iPhone 5 simply scrolling down the page causes the rewind to happen.

[2016-10-14 07:21] nstanard commented on #299
Yea I have multiple iOS devices but have not seen this issue. I have noticed a rewind issue as I mentioned in #318. What device are you using specifically @jtree5757? Also, can you screen record the issue?

[2016-10-14 07:22] nstanard commented on #328
@haggen Thoughts?

[2016-10-14 07:27] nstanard commented on #318
@meandmax Okay I understand why this is happening now. My iPhone 5 is firing a resize event because of the URL bar that hides and shows on scroll up and down. I guess I'll just have to set all my sliders to rewind false. 👍

[2016-10-14 07:27] linnett commented on #444
@nstanard I'm aware of how simple and quick it is to do this but it's just nice to have 1 carousel that fits all - but thanks for the tips

[2016-10-14 07:28] nstanard commented on #318
@meandmax Okay I understand why this is happening now. My iPhone 5 is firing a resize event because of the URL bar that hides and shows on scroll up and down. I guess I'll just have to set all my sliders to rewind false. 👍

[2016-10-14 07:30] nstanard commented on #444
I define a slider differently in my head than a carousel/image gallery. I feel it's better to differentiate between those things rather than trying to create one project fits all needs. @linnett

[2016-10-14 07:33] nstanard commented on #444
Also, if you are using WebPack and ES2015 ( _you should be 😄_ ) then it's super easy to create your own extensible classes and differentiate between these types of features.

[2016-10-14 11:59] liam-potter commented on #328
I do believe this is an issue, having come across it myself today. My setup is 3 visible slides, with any number of total slides (not necessarily divisible by 3).

Give an example of 5 total slides, I would have expected the behaviour when using `infinite: 3` in conjunction with `slidesToScroll: 3` to be as follows:

- First slide is active: 5, 1, 2
- Second slide is active: 1, 2, 3
- Third slide

[2016-10-14 12:24] nstanard commented on #328
@liam-potter Can you put together an example on codepen? I'm totally willing to help but I'm not following the description provided.

[2016-10-14 13:29] liam-potter commented on #328
http://codepen.io/anon/pen/EgpwLJ

Given a starting state of slides 1, 2 and 3 being visible:

- The first swipe correctly shows slides 4, 5 and 1. The expected behaviour when swiping again would be to show 2, 3 and 4. Instead it resets to 1, 2 and 3 (and it is no longer possible to swipe).

- If you start again and swipe in the opposite direction it correctly shows 3, 4 and 5. Swiping again corre

[2016-10-14 13:37] liam-potter commented on #328
With regards to my earlier comment (I've removed it as it wasn't clear), this was only applicable if the user was using `infinite: 3` and `slidesToScroll: 1` - this appears to work fine.

The actual issue is as I have detailed in the above codepen - i.e. using `infinite: 3` and `slidesToScroll: 3` when the actual number of slides is not divisible by 3.

[2016-10-14 16:01] nstanard commented on #328
Thank you for providing an example. I will take a closer look tomorrow.

[2016-10-18 07:36] Teun87 commented on #436
I've got it almost working, even on mobile with touch events. Though, on IOS the resizing of the window/extra navbar on the bottom (moving up and down on the page) is causing the slider to go back to the second slide, no matter at which slide the slider was. Any idea how to fix this? I've tried to put a touchstart-move-end eventlistener on the document, but so far I can't solve the problem with th

[2016-10-19 16:41] jackbarham commented on #436
An autoplay version would be awesome - I'm struggling to get it working. Pause on hover would also be nice, but autoplay would be great :)

[2016-10-20 07:53] Pajn opened #457 "Please remove the engine property from the package.json"
lory can not be installed on a recent node using yarn due to the engine property in package.json.
As lory is a library used in the browser there are no reason for lory to have an engine property at all.

[2016-10-20 08:28] nstanard commented on #436
@jackbarham I've provided an example with autoplay. What are you having trouble with? Do you have a link?

[2016-10-21 11:44] SukhKalsi opened #460 "Centre mode"
Hello

How can i configure Lory to centre the slide?

For example, Slick has an option called 'centerMode' which enables me to show one slide only but with mini previews of the previous and next slide.

Thanks

[2016-10-21 12:14] nstanard commented on #460
You would probably want to use variable width mode.

[2016-10-21 13:20] SukhKalsi commented on #460
Hmm not sure how that helps? Lory seems to always position the slides to the hard edge (either left or right depending on direction)

[2016-10-21 16:00] nstanard commented on #460
Seems like you realize that this isn't an option currently ;)

[2016-10-22 14:28] #434 closed

[2016-10-22 17:18] #457 closed

[2016-10-25 09:19] SukhKalsi commented on #460
Ha I guess so! So I suppose this is a feature request. What is the effort level required to get this in?

[2016-10-25 12:08] SukhKalsi opened #472 "Destroy event not firing"
Hello

I'm just wondering what the purpose of the destroy event is for, as it appears from the example that the destroy event does not fire?

I have the `on.lory.destroy` event listener defined.

[code]

Thanks

[2016-10-25 12:17] nstanard commented on #472
Can you turn that into a working demo using codepen.io?

[2016-10-25 12:31] SukhKalsi commented on #472
@nstanard As requested buddy...

http://codepen.io/anon/pen/dpAdrO

[2016-10-25 13:21] nstanard commented on #472
Yea.... as far as I can tell that's an issue. I changed your example a little. Button instead of timer. But I don't have time to dig in deeper.

http://codepen.io/nstanard/pen/wzOyNN?editors=1010

[2016-10-31 10:41] magicspon opened #480 "Error when compiling with rollup babel"
Hello,

I'm trying to import lory.js with rollup babel but it's crashing in a number of places.

This is my task:
https://gist.github.com/magicspon/db9b427b778b54b122502a950970e057

The first error is as follows:
SyntaxError: Unexpected token (214:19) in /Users/stockley/websites/snapldn/node_modules/lory.js/src/lory.js

`options = {...defaults, ...opts};`

It looks like lory.js is not being transp

[2016-11-03 20:27] rjoo commented on #83
Any chance this can be reopened?

Calling destroy on a lory instance doesn't actually remove the inline styles. Unless I'm missing something. Example:

    transition-duration: 0ms; transform: translate3d(-435px, 0px, 0px); transition-timing-function: ease;

[2016-11-03 20:48] rjoo commented on #83
After actually looking in the source, I confirmed the suspicion that nothing removes the added styles in the destroy method.

Adding a simple method and calling it when destroyed seems to take care of it.

    function untranslate () {
        const style = slideContainer && slideContainer.style;

        if (style) {
            style[prefixes.transition + 'TimingFunction'] = null;
            st

[2016-11-03 21:12] rjoo commented on #472
There is no `on.lory.destroy` event being fired. It's `before.lory.destroy` and `after.lory.destroy`. Might need an update to the docs.

[2016-11-10 11:04] SukhKalsi opened #493 "Bug: Slider resetting on all touch screen devices when scrolling"
Device: iPad Air 2 using iOS 10.0.1
Website: http://meandmax.github.io/lory/

On the Lory homepage, testing on the iPad I notice that when any slide is not on the first and you scroll, the slide for whatever reason resets itself to the first slide.

[2016-11-17 21:23] Siton-Systems opened #500 "Can you add one line of credit+version to your CDN?"
Lory CDN
http://meandmax.github.io/lory/dist/lory.min.js

Like this for example (see first line)
https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css

https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js

In the future its help users to know "the source file + version + author + MIT". Also its like "credit for the author". One comments line + like "headline" i

[2016-11-23 07:39] acenkus commented on #255
To make lory full screen I just wrote this hack... But maybe we can add option to 100% width by parent container?
`var lory_slides_width = function(e) {
		var lory_slide = document.querySelectorAll('.js_slide'),
		w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

		for (var i = 0; i < lory_slide.length; i++) {
			lory_slide[i].style.width = w + 'px';
		}

[2016-11-23 12:55] SukhKalsi commented on #493
I've noticed that this affects all touch screen devices. Affected on iOS (iPad & iPhone) and on Android (Chrome, and no doubt Android browsers too).

Any update as to whether this will be picked up? Almost been 2 weeks now since I have raised this yet there has been no acknowledgment of the issue.

[2016-11-27 00:32] #500 closed

[2016-11-28 16:29] nstanard commented on #472
PR #507 will clear that up in the docs.

[2016-11-28 16:29] #472 closed

[2016-11-28 18:23] nstanard commented on #255
I'm a little confused why a hack is needed to make the carousel full width.

http://www.lovelyskin.com/skin-specialists-omaha

The site above has lory setup although there is only a single slide so it doesn't actually function at the moment. But it is full width and I promise it's lory.js setup.

[2016-11-28 18:32] #318 closed

[2016-11-28 18:33] nstanard commented on #257
Hey @slavikse,

Are you able to provide a link to that example?

[2016-11-28 18:39] nstanard commented on #493
Hey @SukhKalsi,

Are you able to pass in rewindOnResize as false through the options? I know some devices change the view size on scroll and if a resize event fires on the page the sliders will go back to the first slide by default.

[2016-11-28 19:47] #323 closed

[2016-11-28 19:50] nstanard commented on #436
There are a lot of examples on the demo site currently and I will probably be adding more in the future. I'm closing this for now but an autoplay example will find it's way to the demo page eventually.

[2016-11-28 19:50] #436 closed

[2016-11-28 19:52] nstanard commented on #281
Hey @andersonfelix,

This is possible but please direct your question to stack overflow for the time being. Please post the SO link in the gitter channel as well.

[2016-11-28 19:52] #281 closed

[2016-11-28 19:54] #445 closed

[2016-12-01 16:10] averest commented on #493
I have exactly the same problem. Passing rewindOnResize: false doesn't fix the issue. Can anybody copy that?

[2016-12-09 15:31] moklick commented on #493
I had the same problem on iOS (10.x.x), and Android (6.x). The option `rewindOnResize: false` fixed it.

[2016-12-09 15:35] gmenih341 commented on #257
Had the same problem. My issue was that I didn't add `DOMContentLoaded` listener, and init `lory` in there. After doing that, it was properly positioned.

[2016-12-09 15:44] nstanard commented on #257
@slavikse If you can provide a link to a demo with a reproducible issue please open a new issue. I do believe font size 0 missing is what would cause this.

[2016-12-09 15:44] #257 closed

[2016-12-10 14:29] alexv9 opened #518 "Feature Request: zepto.js support"
Hi,

lory is a brilliant slider :) as an enhancement to the jQuery version it would be great to have a zepto.js version of it.

[2016-12-10 18:09] slavikse commented on #257
@nstanard that was a long time ago. I suspect it was a newline (enter) between inline elements.

[2016-12-12 17:57] nstanard commented on #518
If this is a priority for you I would suggest opening a PR with your proposed changes. I'd be happy to take a look and assist getting it merged and approved. I don't imagine it's a big priority though on the list of thing s to do.

[2016-12-13 00:14] UTurista opened #520 "Event 'before.lory.slide' reports wrong 'nextSlide'"
The slides reported by the `before.lory.slide` event are wrong when the method `slideTo( k )` is used.

This because the value `nextSlide `is defined by `direction ` and by incrementing the current `index`;
[code]

The following example:
[code]

will return the follow output
[code]

instead of
[code]

[2016-12-13 00:40] nstanard commented on #255
Please re-open with an example if you are having issues with this still.

[2016-12-13 00:40] #255 closed

[2016-12-13 00:41] nstanard commented on #299
Please open another issue with a demo and more information on your device if you find this is still an issue.

[2016-12-13 00:41] #299 closed

[2016-12-13 00:52] nstanard commented on #520
I need to go through and update a couple things with the index and slideTo based on how I want to use Lory. I'll open a PR when I make my changes for others to review. Hopefully I can smooth out all index issues.

[2016-12-15 09:59] averest commented on #493
Does anybody have a fix for this. Would be highly appreciated... ;)

[2016-12-15 12:01] moklick commented on #493
We could fix it with options `{ infinite: false, rewindOnResize: false }`. `rewindOnResize` doesn't work when `infinite` is `true`. So it's important to set it to `false`

[2016-12-20 10:11] marcelalburg commented on #493
👍

[2016-12-20 13:15] motoringcouk commented on #493
I have a similar issue to this, which is triggered when i remove/add elements to the slider. I'm calling lory like this:
`
var slider = document.querySelector('.buying-mobile__container');
var inst = lory(slider, {
             infinite: false,
             rewindOnResize: false,
             rewind: true
});`

and calling `inst.setup();` when i have finished updating the dom.

any help would be a

[2016-12-20 15:12] nstanard commented on #493
@motoringcouk Please open your own issue ticket with a demo link highlighting the issue you are wanting to present.

[2016-12-21 23:06] kbytin commented on #281
Not a carousel, but thumbs as navigation https://gist.github.com/kbytin/a19324c30d9fb4612420a7a7f99a1b5a

[2016-12-25 13:09] izebb opened #531 "RTL support"
For RTL slides seems to disappear from screen.

[2016-12-30 19:38] hendrikeng opened #536 "Background image support"

[2017-01-02 20:01] #536 closed

[2017-01-07 06:25] wesleyhf commented on #480
+1

[2017-01-15 09:52] #353 closed

[2017-01-17 06:37] metaloha opened #544 "Can't change slides"
No matter what is clicked, or whether I use the `slideTo()` method, slide 0 is always the active slide. I can't reproduce this on the demo page, but I can't make it not do this on my own site. I believe all the markup is correct.

The `before.lory.slide` event fires, but `currentSlide` is **always** 0, and `nextSlide` is **always** undefined.

[2017-01-20 16:46] nstanard commented on #544
This is almost for sure a setup issue. Please ping me via Gitter chat and I'll be happy to take a look.

[2017-01-20 16:46] #544 closed

[2017-02-01 11:15] andreasvirkus commented on #3
Is it in the plans still?

[2017-02-07 00:06] curtisblackwell commented on #460
Any plans for this yet?

[2017-02-07 17:16] curtisblackwell commented on #460
I figured out a way to accomplish this using CSS.

Let's say you want 3 slides displayed at a time. Each slide is 200px, and there's a 20px gutter b/w slides.

[code]

[code]

[2017-02-07 17:34] curtisblackwell opened #569 "returnIndex can return negative numbers"
Using `prev()` I'm `returnIndex()` is sometimes negative.

If a carousel has 5 slides and `infinite: 3`, here's what happens:

| `returnIndex` | New `returnIndex` after using `prev()` |
| --------------:| ---------------------------------------:|
| 0 | -1 |
| -1 | -2 |
| -2 | 3 |
| 3 | 2 |
| 2 | 1 |
| 1 | 0 |

[2017-02-11 10:17] benjibee commented on #433
This is still an issue on our site. I've done some tooling around to no avail. It's not mentioned above, but it's also really evident on mobile, and looks quite janky!

[2017-02-22 01:40] reidblomquist opened #585 "Text in Slide?"
So, this project looks really slick and the touch behavior is super responsive - but I'm wondering if anyone has endeavored to get text in slides? Seems like this is super dependent on not having any text in there - unless someone can point me to directions to make it work properly with text inside I may have to use another tool.

If anything springs to mind that'd be great - if its simply meant f

[2017-02-22 14:54] nstanard commented on #585
Although the sliders are not functional due to only having one slide. I built this skin specialists website using Lory and that text is part of the slide.

http://www.lovelyskin.com/skin-specialists-omaha

[2017-02-22 14:55] nstanard commented on #585
![image](https://cloud.githubusercontent.com/assets/4204806/23216744/b3099dba-f8dc-11e6-8092-6438b7b6c7b6.png)

[2017-02-22 14:56] nstanard commented on #585
Closing this issue. If you need 1:1 help I'd be happy to assist.

[2017-02-22 14:56] #585 closed

[2017-02-23 20:24] andosteinmetz opened #587 "Rewind and infinite not working as expected"
I'm having an issue where if I set the option `{ infinite: true }`, advancing backward through the carousel, the slider behaves as expected, but advancing forward, I get what I would expect for the rewind behavior (it goes backwards to the first slide), and in the console I get the error:
`Uncaught TypeError: Cannot read property 'offsetLeft' of undefined`.

If I set `{ rewind: true }`, there's no

[2017-02-23 22:10] drewfranklin commented on #587
Hey @andosteinmetz,
Infinite can be set to false or number of visible slides. So I believe you would want { infinite: 1 } instead of { infinite: true }

[2017-02-23 22:27] drewfranklin commented on #587
Although shifting this into a feature request. I was thinking about this, and trying to think of possible scenarios where you want infinite and slidesToScroll to be different values. I couldn't think of any, but maybe it was built this way for a specific use case that I am not thinking of.
If there is not a use case maybe infinite should be a boolean value and then the number of visible slides is

[2017-02-23 22:32] andosteinmetz commented on #587
Thanks! That fixes my immediate issue.
To me, it seems natural for them to be three separate values: infinite (boolean), slidesToScroll, and slidesVisible, though I haven't looked too carefully into the code to see how the 'infinite' value is being used...

[2017-02-25 19:17] MRokas opened #594 "global is undefined"
Using lory with webpack, whenever I try to use `lory`, it throws this:
`TypeError: global is undefined`

My webpack config:

[code]

And this is app.js:
[code]

Error is thrown here:
[code]

lory version: `2.2.1`
webpack version: `2.2.1`

[2017-02-25 19:24] MRokas commented on #594
from what I see, this is caused by webpack, by passing wrong global value.

[2017-02-27 13:30] lukearmstrong opened #595 "Text not wrapping in slides?"
When entering text into a slide, it doesn't wrap, it just continues on one line so anything beyond the width of the slide is hidden.

I noticed this was causing the issue:
[code]

Trying to add `white-space: normal` to either the frame, slides, or slide results in breaking the carousel.

Adding a child element inside the slide, and adding `white-space: normal` to that appears to fix the problem, u

[2017-02-27 17:27] nstanard commented on #595
That's the reason the frame has white-space nowrap. If you would like text to wrap you need to create your own containers inside the slide and define widths and such.

http://www.lovelyskin.com/skin-specialists-omaha

[2017-02-27 17:30] #595 closed

[2017-02-28 16:33] nstanard commented on #595
Yea if you can show me a link I'm feeling confident I can get you what you want with the text wrapping and correct positioning.

[2017-03-13 15:06] silllli opened #607 "Readme states wrong arguments for 'before.lory.slide' event"
The readme file states that the arguments of the  'before.lory.slide' event are

but actually they are

[2017-03-15 20:32] simondavies opened #609 "requesting jquery but thought it also came without"
I am using Lory as follows through NPM:

[code]

and then loading within a JS class as:

[code]

But when I go ahead and compile it,  I get the error:

[code]

Now the issue is my project I have done without the need of jquery and completely built with vanilla js etc, so I don't want to import 'query' to just run lory.js.

But I thought it was not dependent on jquery?

Correct me if I am wrong or

[2017-03-16 11:50] RSeidelsohn opened #611 "returnIndex returns 0 when slides count is not a multiple of slidesToScroll"
This special use case is currently bugging me - I have varying numbers of slides and I want to hide the next/prev slider buttons when the slides are at the beginning or the end of the list. But when the total number of slide elements is not a multiple of slidesToScroll (the number of slides that are visible at once in my case (4 in the example)), then returnIndex() always returns 0.

I've prepared

[2017-03-29 01:47] trajedy commented on #480
I'm having similar issues.

`Error: Couldn't find preset "stage-0" relative to directory "/project-dir/node_modules/lory.js"`

So I added babel-preset-stage-0 as a dev dependency. Now the error I'm getting is the following.

`Error: It looks like your Babel configuration specifies a module transformer. Please disable it. See https://github.com/rollup/rollup-plugin-babel#configuring-babel for more

[2017-03-29 22:29] pieplu commented on #197
@riotcku
Or a font-size:0 on the parent? The 4px depends of your font-size...

[2017-03-31 20:24] riotcku commented on #197
@pieplu Yup, 4px is the magic number for most sites because the unicode whitespace width is `.25em` and 16px is the default font-size.

`font-size: 0` on the parent is a good fix that gets around this but browsers nowadays have a minimum font size! So this fix is not reliable as well.

In my personal case, solution was to use [the CSS3 white-space-collapsing property](https://www.w3.org/TR/2010/WD

[2017-04-03 21:17] tvler opened #628 "Add 'initialIndex' option"
It would be useful to initialize a lory slider with an initial index value, instead of just '0'.

ex:
[code]

[2017-04-03 21:20] tvler commented on #628
This could be called `initialIndex` or anything else if we come up with a better name.

[2017-04-05 15:18] Gastonite commented on #594
replacing the import with
`import { lory } from 'imports-loader?global=>window!lory.js';`

seems to do the trick :)

[2017-04-06 06:21] MRokas commented on #594
@Gastonite - you forgot to mention it requires `npm i -D imports-loader`;

[2017-04-06 11:39] Puddingboy opened #634 "Suggestion: add the html "download" attribute on the download button"
here: http://meandmax.github.io/lory/

Should be possible right?

[2017-04-06 14:46] nstanard commented on #634
![image](https://cloud.githubusercontent.com/assets/4204806/24760299/df0f7bee-1aad-11e7-8dd6-5c77500a5179.png)

Technically it's an anchor tag.

[2017-04-07 12:57] SteveQ88 opened #641 "lory slider Cannot read property 'CustomEvent' of undefined"
Hi I am using browserify and babel with gulp as my setup, I recently changed from grunt and have used lory slider many times but I have come across this error

lory slider Cannot read property 'CustomEvent' of undefined

which points to line 723 in lory.js ...

 /* WEBPACK VAR INJECTION */(function(global) {
	var NativeCustomEvent = global.CustomEvent;

i am requiring lory like so ...
var lory =

[2017-04-18 06:05] floatingdino opened #650 "Slide is reset if the window is resized"
When resizing the window, the slider returns to the translate value for the first slide.
Observed on macOS 10.12.1 / Chrome 57 on sliders with % widths.

[2017-04-19 05:12] rougiain opened #651 "Breakpoints on VARIABLE WIDTH and MULTIPLE SLIDES TO SCROLL"
The ability to set the number of slides to show for different widths
[code]

[2017-04-19 05:43] Benjamin-Dobell commented on #480
Not using Babel here, just rollup, I get:

[code]

Will investigate and report back.

[2017-04-19 05:57] Benjamin-Dobell commented on #480
Oh right, whoops. Looks like I *need* Babel, ES7 spread operators in use. Hrm.

[2017-04-19 06:00] Benjamin-Dobell commented on #480
Okay, yeah `jsnext:main` is set incorrectly in `package.json`. `jsnext:main` does _not_ refer to ES6/ES7 code. It must be valid ES5 with the exception of module syntax. Looks like it's been renamed to `pkg.module` though:
https://github.com/rollup/rollup/wiki/pkg.module

[2017-04-19 07:33] Benjamin-Dobell opened #653 "Not strict mode compatible"
`__webpack_require__` does the following:

[code]

in order to obtain a reference to the global context (i.e. `window` in a browser).

However, that doesn't work in strict mode:

[code]

which returns `undefined`.

This prevents lory being used with [rollup](https://github.com/rollup/rollup). I believe webpack2 uses strict mode by default.

[2017-04-21 14:44] dimaip commented on #611
This is a major bummer for me, I need to hide prev and next links when they are inactive, and I don't know how to do it if I can't rely on correct index.
For now I have to keep track of index manually: https://github.com/psmb/PsmbDistr/blob/master/Packages/Sites/Sfi.Site/Frontend/js/init.lory.js#L49

[2017-04-21 15:24] veganista commented on #255
I'm having a bit of trouble with 100% width slides.

It keeps snapping back on release.

I've put together a fiddle here: https://jsfiddle.net/eaoobsw3/1/

[2017-04-24 16:27] andrewbanchich commented on #328
@nstanard any updates on this issue? i can't get `infinite` to work at all. it will loop infinitely, but no matter what number i set it to, it only displays one image at a time.

[2017-04-27 18:46] tech4him1 opened #661 "Add way to access lory object on element without jQuery."
Maybe I just can't find this, but is there any way to access the `lory` object off of an element without using jQuery?  In your jQuery example, you can do `$elements.data().lory`, and get the lory object back off of the element, but I can't see how to do this with pure JavaScript.

[2017-05-02 16:08] Ficik commented on #641
I've just hit into same problem when bundling with rollup + babel from npm.

`import {lori} from "lori.js/src/lori.js"` complains about "custom-event" being external dependency and fails in runtime with  `Cannot read property 'CustomEvent' of undefined`

**`custom-event` should be `dependency` not devDependency**

[2017-05-03 13:36] justerest commented on #661
This object is created with the initialization of Lory.
[code]

[2017-05-03 15:10] #661 closed

[2017-05-12 05:55] jeroenbraspenning commented on #641
I've fixed this locally by removing the first line of the 'dispatch-event.js' this file was referencing itself.

`import CustomEvent from './dispatch-event'
`

[2017-05-15 10:51] jackbrewer opened #670 "Issue swiping left when on last slide"
Hi, I've encountered a bug when trying to use fixed-width slides in a non-infinite slider.

If you swipe/drag to the last slide, it is impossible to get back to the last-1 slide. This is causing me issues as I I'd like to be able to have a slider with 2 slides. The result is the User gets stuck on the second slide, as they cannot swipe back to the first.

Adding `rewind: true` kinda works as a wor

[2017-05-16 11:52] mciastek commented on #650
It's caused by `reset` method in resize event callback. First of all, I would like to set if I want slider to reset after resize. Secondly, it would be better to listen to `orientationchange` on mobile devices, because normal scrolling (and hiding browser's top bar) triggers `resize` event.

@meandmax Is that library still maintained?

[2017-05-29 07:57] mahish opened #676 "Support for multiple control buttons"
Hey,
I miss support for multiple control buttons (`nextCtrl` & `prevCtrl`). Should be simple as this. I was unable to PR. Dunno why.

[code]
[code]
[code]

[2017-06-05 19:29] JanssenRodrigues commented on #327
Still not possible?

[2017-06-07 14:08] graciano commented on #520
Is there more to be done in this PR or the project is no longer being maintained?

[2017-06-14 16:46] VitorLuizC commented on #641
You should exclude `node_modules` folder from your bundler script.

On webpack:
[code]

[2017-06-15 13:39] felipearosemena commented on #650
@floatingdino @mciastek  I was able to address part of the issue on mobile by adding the following into the `onResize` function in the plugin:

[code]

and defined `wWidth` at the top near `lory`'s definition:
[code]

@meandmax Would this be something that should be merged into the repo?

[2017-06-15 13:40] felipearosemena commented on #493
I was able to address part of the issue on mobile by adding the following into the `onResize` function in the plugin:
[code]
and defined `wWidth` at the top near `lory`'s definition:
[code]

[2017-06-16 16:02] philosophocat opened #678 "Check if document is not undefined"
I'm using server side rendering and i need this check to get no errors while rendering. Can you, please, add it?
Kind of:

[2017-06-18 06:46] chaucerbao commented on #641
I ran into this issue while using only Babel (no webpack nor Browserify) with [babel-preset-env](https://github.com/babel/babel-preset-env).

I believe the problem is with the code injected to transform module syntax (the umd), where [global](https://github.com/meandmax/lory/blob/master/dist/lory.js#L724) was being resolved to `undefined` when it should have been resolved to `window` in the browse

[2017-06-19 07:02] #678 closed

[2017-06-19 21:32] peterrattew commented on #255
The second fiddle is still broke for me and shows a part of the second slide but if you set padding to 0 on `.slides` then it works fine.

[2017-06-20 02:42] Madeck opened #679 "Infinite Stuck on Last Slide at Load"
Thank you for this simple slider!

Sometimes, when I load the page, the slider is "stuck" on the first slide. It happens about 5% of the time, but no errors are thrown. Triggering a resize or manually resizing the window seems to fix it.

Any idea what could be causing this?

[2017-06-22 21:28] davidrhoden commented on #641
chaucerbao: where do you put the code you pasted to disable the transformation?

[2017-06-23 02:13] chaucerbao commented on #641
That goes into the [Babel config file](https://babeljs.io/docs/usage/babelrc/#lookup-behavior), wherever you might have it (`.babelrc` or `package.json`).

[2017-06-23 15:50] hyshka commented on #679
Same thing is happening for me, except I've also noted it happens only on larger screens. I suspect it's something to do with how I'm position the slider so will report back if I find anything out.

[2017-06-23 17:28] hyshka commented on #679
Ok @Madeck I'm not sure if you will have the same issue but for me I needed to set `display: block;` on the `ul.slides` element and then on the individual slides (`li`) make sure I'm not setting the `font-size` or adding `white-space: normal;`.

Here's some of my code:

[code]

[2017-06-27 20:50] davidspiess opened #681 "Is this project still alive?"
Mantainer still around? Let me know if you need some help :) 👍

[2017-06-27 23:35] Madeck commented on #679
Yes, but I’ve decided to use another library, because I need to have text that wraps on the slides. Thanks @hyshka.

[2017-06-28 15:24] nstanard commented on #681
Max is a busy guy. If you'd like to help, I would be happy to help you pick a topic to work on. Keep in mind that the intention of this project is NOT to be an "everything out of the box" slider. This is a minimalist slider.

[2017-06-28 15:25] nstanard commented on #681
Also, i'm closing this. :P

[2017-06-28 15:25] #681 closed

[2017-06-28 18:44] nstanard commented on #679
@Madeck You can do anything you want with this slider. You just have to style things yourself and assign CSS properties to make it happen.

[2017-06-28 18:46] #634 closed

[2017-06-28 18:48] nstanard commented on #531
When you reach out and open an issue please provide an isolated example and a link.

[2017-06-28 18:48] #531 closed

[2017-06-28 18:50] nstanard commented on #587
@andosteinmetz This slider has a few different features and in an attempt to make them work together the code needs to know how many slides are visible for the infinite feature.

[2017-06-28 18:50] #587 closed

[2017-06-28 18:51] nstanard commented on #676
Please provide more detail and a working example of what you are trying to accomplish. (A plunkr or a jsfiddle)

[2017-06-28 18:51] #676 closed

[2017-06-28 18:52] nstanard commented on #650
@mciastek

The reason some mobile devices fire a resize event is because of the URL bar that animates into view. This does not mean that all mobile devices behave this way.

[2017-06-28 18:55] nstanard commented on #650
![image](https://user-images.githubusercontent.com/4204806/27654983-59e7ee0e-5c09-11e7-94ce-a1b638b5c35e.png)

The last feature Max has added is an option to turn rewind on resize off. You can use that and add your own rewind behavior on top of the slider.

[2017-06-28 18:55] #650 closed

[2017-06-28 18:55] nstanard commented on #679
Closing this because an isolated example was not provided.

[2017-06-28 18:55] #679 closed

[2017-06-28 18:57] nstanard commented on #651
@rougiain

Will have to look into this. In the next few months I will be working on Lory 2.0. My plan is to go through all existing features and options and smooth them all out. I will see about adding this to the feature planning I put together but in the end will side with whatever decision Max makes on this requested feature.

[2017-06-28 18:58] nstanard commented on #670
@jackbrewer Thank you for providing a link to a reduced test case. I greatly appreciate that and I will take a look at this in the evening today. I will get back to you with what I find.

[2017-06-28 19:03] nstanard commented on #628
@tvler I'm a little unsure about this. Would you not simply order the slides in the order you want them to display?

Thoughts?

[2017-06-28 19:05] nstanard commented on #611
@RSeidelsohn First, thank you for providing so much detail, a link, and opening a PR. I'll take a look at this tonight.

[2017-06-28 19:07] nstanard commented on #609
It does come without, I suggest taking the file and including it directly into your project. Then you can import it without concern. But I will try to recreate this scenario soon.

[2017-06-28 19:07] #609 closed

[2017-06-28 19:10] nstanard commented on #641
@Ficik You're importing the source file... not the distribution file... So basically you're importing the file intended for local environment development.

[2017-06-28 19:11] nstanard commented on #641
@SteveQ88 I'm closing this for now. But I will be testing out lory with Rollup an other build tools in the near future. If I find that this is really an issue I will re-open it.

[2017-06-28 19:11] #641 closed

[2017-06-28 19:12] nstanard commented on #569
@curtisblackwell If you provide an isolated example I will re-open this.

[2017-06-28 19:12] #569 closed

[2017-06-28 19:12] nstanard commented on #594
Webpack syntax issue, closing this.

[2017-06-28 19:12] #594 closed

[2017-06-28 19:13] nstanard commented on #518
Closing for now. Again, you are welcome to open a PR for this.

[2017-06-28 19:13] #518 closed

[2017-06-28 19:15] nstanard commented on #493
The original description is a feature, not a bug. Closing this.

[2017-06-28 19:15] #493 closed

[2017-06-28 19:16] nstanard commented on #480
Will be taking a closer look at using lory with rollup as soon as I am able.

[2017-06-28 19:16] #480 closed

[2017-06-28 19:19] nstanard commented on #405
@rtyshyk

https://codepen.io/anon/pen/WOddPy

I do not see any issues with the slider in the link above. In the link you provided (currently) you're using `slidesToScroll: 1` with 4 visible slides. That is not the intended use of the slider features.

[2017-06-28 19:19] #405 closed

[2017-06-29 13:50] nstanard commented on #328
I fell off the face of the earth for a while. But I'm back now. I apologize for the lack of activity. I'll have to start slotting out time to work through issues on this project. However, I'm of the mindset right now that I'd rather start on Lory 2.0. We'll see how this plays out over the next few months.

[2017-06-29 13:56] haggen commented on #328
I've moved on to a new solution I've developed myself. My needs was of only a subset of the features generally available in carousels and sliders, also I didn't have to support older browsers so I thought it was a good fit. https://codepen.io/haggen/pen/PzJvaB

[2017-06-29 19:23] nstanard commented on #328
@haggen Hey that looks great! It's always nice to be able to use a smaller sized piece of JS to get what you need. ;)

[2017-06-30 21:13] VitorLuizC commented on #650
@nstanard
This issue should be reopen because `rewindOnResize` should not be used with `infinite: true` which is my current implementation. Also, this reset not fires the `'after.lory.slide'` event.

[2017-07-03 09:43] ericbellot opened #682 "Slider reset launched without true width screen change"
On Androïd and iOS, Lory slides are resetted without true screen width change. For instance, scrolling the page launch an onResize event, that reset  slides unnecessarily.

[2017-07-03 15:05] nstanard commented on #682
#621

[2017-07-05 17:05] lacedon opened #684 "Vertical slider"
Add a possibility to work as a vertical slider.

[2017-07-08 20:36] mahish commented on #676
Ok, I will create an example next week. However, the scenario is when you want to have controls within each slide item.

[2017-07-17 09:27] mahish commented on #676
@nstanard Hey, I prepared the working example. https://codepen.io/mahish/pen/BZEONg . Here is
![the screenshot of the commit itself](https://user-images.githubusercontent.com/3687943/28262312-de3c2660-6ae2-11e7-95bb-5ceb77d3910c.png)

[2017-07-17 22:23] yaypaul commented on #328
Hi @nstanard,

Love Lory, it's so buttery smooth.
However, I am having the same issue as is documented above. If infinite and slides to scroll are set, but the slide set is not a multiple of the slides to scroll then the infinite breaks.

Examples;
16 slides - Infinite/StS 3:  16/3 = 5.33 and breaks
52 slides - Infinite/StS 8: 52/8 = 6.5 and breaks

Do you have any ETA on a fix for this in 1.0 or

[2017-07-21 17:57] kenmaclord opened #687 "No text possible on slide"
When trying to add a text under the picture, the .frame class force to font-size: 0 and line-height: 0. If I put a div under my image and change the font-size just inside this element, the whole slider is broken.

[2017-07-22 15:37] nstanard commented on #687
You can provide an example in the Gitter channel and I'd be happy to help you with this.

[2017-07-22 15:37] #687 closed

[2017-07-25 14:59] majioa opened #688 "TypeError: global is undefined"
in version 2.2.1 When I try to import the lory with `webpack` as follows:

    import {lory} from 'lory.js/dist/jquery.lory.js'

I'm encountering the following error `TypeError: global is undefined` with message:

    var NativeCustomEvent = global.CustomEvent;

How to fix?

[2017-07-25 15:15] majioa commented on #688
Ok, is seems lory isn't supporting `babel-loader`, so workaround is here: https://github.com/gaearon/react-hot-loader/issues/133

[2017-07-27 16:35] tylik1 opened #689 "Is the project alive?"
I can see 101 pull requests, some of them are critical. This is the most popular pure js slider lib, so would be really great to see it maintained.

[2017-07-28 10:09] tylik1 opened #690 "Unable to install latest version as a package.json dependency directly from github"
While it is possible to install lory.js as npm package, I can see that latest build is far behind from master branch.
If project has rare releases, would be good to be able to install it from github directly.
e.g.
`"lory.js": "git://github.com/meandmax/lory.git#master"`

Currently I have this error:

[code]

[2017-07-30 19:48] meandmax commented on #689
@tylik1 most of them are from greenkeeper, I will take a look at the other PRs in the next couple of days! Thanks for heads up

[2017-07-30 19:48] #689 closed

[2017-07-31 14:21] andreasvirkus commented on #641
I'd like this issue to be reopened. Using Lory with Webpack and `vue-ssr-webpack-plugin`.
As you can see, the error occurs in the distribution file (`lory.js/dist/lory.js`):
[code]

[2017-08-08 13:42] nstanard commented on #688
Did you want the jquery version of lory?

[2017-08-08 13:42] #688 closed

[2017-08-11 12:07] meandmax commented on #690
@tylik1 should work now as I gave it a version in `package.json`

[2017-08-11 12:07] #690 closed

[2017-08-11 13:09] #394 closed

[2017-08-16 18:34] majioa commented on #688
Not exactly, any one working

[2017-08-18 12:21] tournevis commented on #670
Hi,

I'm having the same issue with non-infinite slider

@jackbrewer The last slide, never get the 'active' class, so that's why in the first case you can't get back on first slide cause lory still thinks that the first slide is active.

 @nstanard  did you find any clue that will orientate us ?  😀

[2017-08-21 14:15] Sandstedt commented on #460
I manage to use some of you css @curtisblackweel nut solved it a little different.

[code]

[2017-08-24 16:15] jimmaaay commented on #651
I know this is an old thread but I had a similar issue and thought my solution might be useful to someone else with the issue
[code]

[code]

[2017-08-31 08:38] Samdyddd opened #694 "How to play automatically"

[2017-09-10 11:19] MartinMuzatko commented on #641
I can confirm, I'm also requiring the dist file. Also, it complained about stage-0 being not preset.

Using `modules: false` does not work:
[code]

[2017-09-10 15:44] ToP29 opened #696 "Lory slider works only if i open or close chome inspector"
Hello, i am building website with lory and on localhost it works perfectly, but when i deployed my app, lory slider stopped working. O page reload it sometimes works, but usualy not. And which is weirdest, it works when i open or close inspector.

Visit my web for example [http://petrol-2433.rostiapp.cz/](url)

Or you could look into code:
[code]

[2017-09-12 14:20] opr commented on #641
Also suffering from this dreadful issue

`import {lory} from '../../../vendor/lory/lory.min.js';
export default class TestimonialSlider {

    constructor() {
        document.addEventListener('DOMContentLoaded', () => {
           let testimonialPanel = document.getElementsByClassName('testimonial-slider');

           if(testimonialPanel.length > 0) {
               lory(testimonialPanel, {});

[2017-09-14 12:54] erperejildo commented on #3
+1 for this feature

[2017-09-17 17:37] dada95 opened #697 "Variable Width Slider works just if I refresh the page"
The slider works only after refreshing the page.
I've included the script as the docs, this is my js file:
[code]

[2017-09-27 05:45] kyleaffolder opened #698 "Flash of slide content when infinite is set to true"
Came across a very weird bug that I'm having a hard time debugging and wanted to mention here in case anyone else is experiencing a similar issue or has any ideas.

Basically what I'm noticing is when I have the slider option "infinite" set to 1, when the slider transforms (loops) from the last slide back to the first, there is a very quick flash of slide content. My content is set to a dynamic wi

[2017-09-28 15:14] hernimen commented on #651
any news?

[2017-09-28 15:58] hernimen opened #699 "Is lory working on angular 1.6?"
I am just following the examples and with and ng-repeat I cannot make it work.
I need a multislides carousel.

lory(settings="ctrl.loryConfig")
	div(ng-repeat="suggestion in $ctrl.suggestions")
		suggestion(suggestion="suggestion")

Also the examples are not working for me.
THX

[2017-09-29 04:40] mike3run commented on #699
please use stack overflow for questions

[2017-10-05 06:30] dsktschy commented on #698
Please try to set `transition-delay: 1ms` on the slides container (.js_slides) element.

[2017-10-05 07:57] kyleaffolder commented on #698
@dsktschy Thanks so much! That resolves the issue I was experiencing! I appreciate the help and guidance.

[2017-10-05 07:57] #698 closed

[2017-10-10 11:20] katiasmet opened #700 "Feature Request: Adaptive Height"
Hi

Looks like an awesome solution for sliders :). Would be nice if the adaptive height function of the slick slider is covered.

Thanks a lot!
Great work guys 👍

[2017-10-10 15:07] sumitmann opened #701 "Feature Request: Click event listener"
Hi

Thanks for this awesome sliders. I tried lots of sliders including 'lory' but no one has the feature to attach click event to 'js_slide'. I wonder if there is a possibility to add something like 'on.lory.click' so that custom click events can be attached to individual slide.

Thanks a lot!

[2017-10-11 18:42] valdrinkoshi opened #702 "support instantiation inside a shadowRoot"
As a user, I might want to use Lory for dom contained in a [shadowRoot](https://developer.mozilla.org/en-US/docs/Web/API/ShadowRoot), but currently this is not supported.

[code]

[2017-10-11 19:04] valdrinkoshi commented on #702
Actually, looks like it's enough to wait for the next animation frame before invoking `lory`.

[2017-10-11 21:08] #702 closed

[2017-10-12 10:17] kenmaclord opened #703 "Feature Request: Lazy loading"
Hi,

This is a great slider! Would be nice if we can have a lazy-loading mode to save some bandwidth on loading, especially for mobile.

Maybe for V3.0 ?

Thanks.

[2017-10-12 14:13] TixieBorg opened #704 "Add border in slide prevents slide with variable width slider"
Hello,
I was stuck while using Lory on one of my projects: for some reason is was impossible to slide to other slide than the first one, even with swipe on mobile. I finally spotted that It was because there was css border on my slide items.

Reproduce:
1. Create a simple instance of Lory based on [the documentation](https://meandmax.github.io/lory/)
2. Set your slider with a percentage width.
3.

[2017-10-18 05:42] wambarroto opened #705 "Cannot read property 'dispatchEvent' of null"
Hey @meandmax, i followed the instruction at  this repo on how to implement it as an ES2015 module, but then this error acquired (Uncaught TypeError: Cannot read property 'dispatchEvent' of null). I implement the code like this in vue
[code]
Maybe you can give some help on how to fix this error.
Sorry about my english

[2017-10-30 14:51] RicLeP opened #707 "Perctange width does not work with using a margin to space items"
When using the following CSS the last slide will be incorrectly positioned. The same happens if I remove the margin from the last slide. Fixing the width works but that doesn’t help with responsive sites. Setting a font size above 0 on the frame does weird things too.

[code]

[2017-11-06 12:09] joergsteinhauer commented on #707
same here!

[2017-11-08 10:46] aureliemuths commented on #705
Hello @meandmax ,

I have the same problem, any fix for this issue ?

[2017-11-08 12:56] yshterev opened #709 "Passive Event Listeners / Scrolling Performance"
According to latest best practices setting the `passive` option on touch and wheel event listeners can improve scrolling performance, for browsers that support it. Google's Lighthouse audit tool is giving a penalty for that.

More info [on this page](https://developers.google.com/web/tools/lighthouse/audits/passive-event-listeners) and also how It can be [implemented with a fallback](https://githu

[2017-11-10 03:33] wambarroto commented on #705
well, i've already fix this problem myself. I'm inspired by vue-lory in vue-admin-master
first i create a lory component (lory.vue) like this

[code]
and the script

[code]

also the css

[code]
then i call this lory in vue component that need lory like this
[code]
. Well, it create the lory, but it's not slide the image by button. May it can give some help

[2017-11-10 03:34] #705 closed

[2017-11-10 08:38] octojoerg commented on #460
Any way to center slides if you don't know how much slides you have?

[2017-11-10 13:34] banago opened #710 "Dynamicly Add Slide(s) To Carousel"
Hey @meandmax, thanks for this great lib.

Is there a way to add slides to carousel dynamically via AJAX with the current codebase? How would you go about to implement it?

Also, are there any plans to support this natively?

[2017-11-13 13:58] jacobjuul commented on #687
+1

[2017-11-13 17:31] nstanard commented on #687
@jacobjuul

![image](https://user-images.githubusercontent.com/4204806/32739627-13646ce0-c866-11e7-99e6-459280a8affa.png)

That's actually a carousel with only one slide. I can help you with building out slides with text if you need.

[2017-11-15 18:45] luksladky commented on #670
It causes the condition for updating index in the slide() method. The offsetLeft is slightly higher that the maxOffset (by 3px in my case). I don't know why is this happening though.

`                    if (slides[nextIndex].offsetLeft <= maxOffset) {
                        index = nextIndex;
                    }`

[2017-11-16 13:13] Oliv commented on #641
Hello there,
importing dist version fails with babel :

`Uncaught TypeError: Cannot read property 'CustomEvent' of undefined
    at Object.<anonymous> (lory.js:775)
    at Object.defineProperty.value (lory.js:823)
    at __webpack_require__ (lory.js:37)
    at Object.NativeCustomEvent (lory.js:744)
    at __webpack_require__ (lory.js:37)
    at Object.defineProperty.value (lory.js:95)
    at __web

[2017-11-19 21:07] #653 closed

[2017-11-19 21:09] meandmax commented on #699
I do not think that this is a suitable library for angular, react or similiar frameworks ...

[2017-11-19 21:09] #699 closed

[2017-11-20 03:53] maxkliu26 commented on #670
I encountered the same error and it seems that the issue is caused by the following codes (where the maxOffset is smaller than the offsetLeft, resulting the class 'active' isn't updated)

if (slides[nextIndex].offsetLeft <= maxOffset) {
  index = nextIndex;
}

Currently my workaround is to "change" the width of the frame based on the calculated breakpoints and the width of my card in my css file.

[2017-11-23 11:47] amirhakbari opened #714 "FEATURE: RTL support"
Hey @meandmax, thanks for this great lib.
please add rtl support.
thank you

[2017-11-28 08:32] katiasmet commented on #436
@nstanard Hi! It would still be great if you added this feature or example 👍

[2017-12-01 12:03] richardtoner commented on #611
What is the status of this bug?

We've identified the returnIndex error in a number of our use cases, so just want to check whether this is something we should look to fix on our side or wait for a fix?

[2017-12-05 17:58] darith27 commented on #651
Any updates on this feature?

[2017-12-10 08:57] heinja commented on #607
Thanks! I've struggled with this issue for hours until I found this post and change my `e.detail.currentslide` to `e.detail.index` specifically for `before.lory.slide`.

[2018-01-14 10:18] membla commented on #607
Also when infinite is true, the wrong values are returned – the elements added for wrapping are included in the index and currentslide.

[2018-01-17 00:38] #628 closed

[2018-01-17 20:49] mahish commented on #480
Im still getting this error:(

[2018-02-10 12:07] cameronbraid commented on #694
`setTimeout(()=>lory.next(), 1000);`

or it you want it to stop automatically calling next during touch interaction or mouseover  use something like the following :

[code]

[2018-02-15 16:50] johjacb commented on #709
@yshterev could you post your code solution? thanks!

[2018-02-20 14:19] Saturate commented on #709
@johjacb this has been fixed in #715

[2018-02-20 14:19] #709 closed

[2018-02-20 14:22] Saturate commented on #696
Tried to reproduce it, but I can't. If it's still a problem feel free to open this again. If you can create a example on jsfiddle or any other online editor.

Thanks!

[2018-02-20 14:22] #696 closed

[2018-02-20 14:25] Saturate commented on #707
Seems like it's not and issue and the solution has been provided, so I'll close this. If you feel this is a mistake please open it again. Thanks!

[2018-02-20 14:25] #707 closed

[2018-02-20 14:26] Saturate commented on #694
This has been answered, closing it.

[2018-02-20 14:26] #694 closed

[2018-02-20 19:07] Saturate commented on #701
You could just add a EventListener to the slide with an ID, this would work I guess?

[2018-02-20 19:10] Saturate commented on #611
Hey @richardtoner feel free to create a PR, as this seem to have been stalled!

[2018-02-21 22:02] jveens commented on #698
I also came across this bug - of note is that I only experienced it on a retina screen. Setting the transition delay fixed it for me as well.

[2018-02-24 21:40] mahish commented on #480
@nstanard So I investigated this issue.
#### Edits in lory.js package:
1. First step is to create a new property in `package.json` of lory.js package → `module` (as @Benjamin-Dobell already posted). For now, it has point to `./src/lory.js` since there is no es module bundle in `./dist`
2. the package should `.npmnignore` the `.babelrc` in the package. That's the reason why @deckchairlabs is gettin

[2018-03-03 12:30] sumitmann commented on #701
Yes I could, but i wanted an event which get triggered only when there is no dragging. With current version of 'lory' if i add a click event listener to do some stuff then it'll get triggered every time i click and drag mouse on slider.

[2018-03-05 17:47] andosteinmetz commented on #703
This would be a nice feature. In the meantime, you could implement it yourself using the `before.lory.slide` event with something like:

[code]

[2018-03-12 09:22] odiumediae opened #721 "Example code is useless"
Have you even tried the example code in the README.md?

Well, spoiler alert: it's absolutely useless.

Why?

* setting `font-size` and `line-height` to 0 is bad practice
* not sensibly overriding these values for the children is even worse, since you're setting the slide contents to be text in the first place
* if you really want to be legacy browser compatible, why not use floats instead? They're

[2018-03-13 09:15] Eugeno commented on #480
Had the same error. Thx to @mahish for decision! @nstanard, pay attention to this.

[2018-03-13 09:27] Eugeno opened #722 "Prevent touch in a certain direction for the first and last slides"
Can I prevent drag slides, when touch last slide and try to move it to the right, or when touch first slide and try to move it to the left? In other words, stick slides to the edges.

[2018-03-15 14:30] soluml opened #723 "Lory doesn't work unless I resize the window"
I've got a lory component that I establish like so:

[code]

And I cannot get it to run unless I resize the viewport.  It also shows the 3rd slide as the first slide by default (commenting out infinite shows the first slide, but it still won't run). I've tried triggering reset manually via `mlory.reset()` as well as any of the other methods and it just doesn't seem to work unless I manually resize

[2018-03-15 16:01] soluml commented on #723
Looks to be caused by slidesWidth and frameWidth returning as 0's in slide even though they appear to be set correctly in `reset()`.  Not sure why that is yet.

[2018-03-15 20:11] soluml commented on #723
For anyone out there running into this issue, this seems to address the issue:

[code]

It's a pretty gross hack, but works if you're in a pinch.

[2018-03-16 14:35] jacobjuul commented on #714
@amirhakbari what features in regards to rtl are you looking for?

[2018-03-16 14:39] jacobjuul commented on #723
@soluml can you provide us with a jsbin or fiddle?

[2018-03-17 05:50] amirhakbari commented on #714
hi dear
please add right-to-left property in slider config,  like slick that
support rtl  just add :rtl: true" in config

tank you so much

On Fri, Mar 16, 2018 at 6:05 PM, Jacob Juul Christiansen <
notifications@github.com> wrote:

--
Front-End Developer *@Ibartar.com* Since 2016
http://i <http://www.ahakbari.ir>bartar.com

[2018-03-26 21:33] FutureNature opened #725 "Lory won't rewind"
Hi folks! I tried to use the rewind feature, and read in documentation that it's not advisable to use it with infinite property. Well I tried all sort of variations even the defaults with only `rewind: true`, but with no success.

Here's my options code:
[code]

Please tell me if there's something that i'm missing, because there're no errors in the console, and everything else regarding the slider

[2018-03-27 09:31] tylik1 commented on #710
any update on this? Seems to be a common task

[2018-03-27 15:40] jameskraus commented on #721
Anyone have a decent example for lory?

[2018-03-27 16:20] kaylabranch commented on #721
@odiumediae - if you have the time, why don't you write up some better documentation/examples?

Not a fan of people whining about issues with these little open-source projects. Make a PR and contribute why don't ya.

[2018-03-30 10:55] thomasboulongne commented on #723
It happens when Lory cannot measure the elements on init, are the frame and the slides displayed? It happened to me when I initialized the slider on a `display: none` element

[2018-04-03 03:14] oneezy opened #727 "Unable to preventDefault inside passive event listener invocation."
When using `enableMouseEvents: true` + Google Chrome's Dev Tools "Device Toolbar" and apply a "drag" with the mouse, this bug pops up in the console. It's odd because the bug doesn't actually show up unless you've got the device toolbar opened.

![image](https://user-images.githubusercontent.com/7369575/38227185-ac2af47e-36c2-11e8-8b23-d71588cb4365.png)

[2018-04-03 10:56] ram-you commented on #727
+1

[2018-04-03 15:46] ram-you commented on #727
A link  to help undestand the problem:
https://developers.google.com/web/updates/2017/01/scrolling-intervention

[2018-04-04 08:28] Mahdimeraji07 commented on #714
I've made a new PR for it. #728

[2018-04-10 18:18] Zeladin opened #729 "Wrong frameWidth & slidesWidth in app webviews"
Hey!

I just wanted to submit this issue that is kind of specific.

In webviews that are provided inside an app it happended to me that the frameWidth & slidesWidth where not correct and therefore the sliding overall would not work.

To fix this for now if have now rewritten a part of the slide function for the maxOffset.

I now have a call in there for the width of a slide and the number of slide

[2018-04-11 19:30] Mahdimeraji07 opened #730 "Unreasonable preventDefault"
It is preventDefault in onTouchmove function in the main code in my fork ([here](https://github.com/Mahdimeraji07/lory/blob/master/src/lory.js#L500)) & for some reason (I did get an error), I just commented out that line and Lory became faster and smoother, so why you did this?

[2018-04-11 19:35] Mahdimeraji07 commented on #730
I decide to comment that line because I got preventDefault is not a function in some situations and after that, It was a better Lory. I tested it out in a real app.

[2018-04-20 11:12] #730 closed

[2018-04-21 03:54] trusktr commented on #723
I had to use this hack today. First time trying Lory. I also had to make sure prev/next buttons are disabled during animation, otherwise clicking them too fast breaks the animation.

[2018-05-24 13:59] cmoeser commented on #611
Experiencing this issue as well. 'Active' class never gets added to last slide.

[2018-05-24 15:51] RSeidelsohn commented on #611
@cmoeser : You might want to give my fork [https://github.com/RSeidelsohn/lory-lesara](lory-lesara) a try. It solves the issue for me.

[2018-05-25 16:43] cmoeser commented on #611
@RSeidelsohn Awesome! Thanks so much!

[2018-05-27 10:20] #721 closed

[2018-05-27 10:45] #149 closed

[2018-05-31 08:26] meandmax commented on #727
Can be closed because prevent default was removed because of other issues and because it is not needed.

Thanks for the issue.

[2018-05-31 08:26] #727 closed

[2018-05-31 08:26] meandmax commented on #729
Hey @Zeladin,

seems that nobody else had an issue like this. I will close this issue for now, but feel free to provide a generic example with your problem and we will have a look.

Thank you
Cheers Max

[2018-05-31 08:26] #729 closed

[2018-05-31 08:26] meandmax commented on #725
Could you please give more context, or is this not an issue anymore? Because if I take your options and paste them into one of the sliders in index.html it works just fine.

Thanks!
Cheers, Max

[2018-05-31 08:26] #725 closed

[2018-05-31 08:27] meandmax commented on #703
Hey @kenmaclord,

I do not see this happen in the lory core because it makes the slider more complex. Simplicity is one of the main reasons for lory and if you need something more sophisticated, there are a ton of other solutions out there offering lazy loading.

Cheers,
Max

[2018-05-31 08:27] #703 closed

[2018-06-01 21:41] christoph-bessei commented on #701
I had the same problem and solved it with the following code:
[code]
**Important**
You have to add your event listener **after** you initiated lory. Otherwise your event handler is called, before lory can call ```e.preventDefault();```

[2018-06-04 05:43] #697 closed

[2018-06-06 18:54] missmatsuko opened #737 "Can't navigate with keyboard (a11y, accessibility, semantic markup)"
I think you should at least use buttons instead of spans for the navigation controls in your examples, then people could use those with their keyboards. It would be nice to be able to use arrow keys to navigate as well, though.

[2018-06-08 22:57] mikemaccana opened #738 "Does not work when used as an ES2015 module"
Per the instructions:

    import {lory} from '/js/thirdparty/lory.min.js';

Will return:

    SyntaxError: import not found: lory

I've tried to work this out, but the giant UMD/webpack and odd indentation makes it really hard to de-UMDify it or find/add and `export` on. Is the README incorrect?

[2018-06-10 09:04] hitasya opened #739 "incompatible with other code"
Can all the html class or id-names for this plugin be appended by a `lory-` ? Example, `lory-slider` and `lory-slide` instead of plain `slider` and `slide`?

I copy-pasted a lot of code from codepen that uses the names `slide` and `slider`, and I can't replace those names across html, css, and js, and still get both things working simultaneously.

[2018-06-11 07:37] mahish commented on #738
@mikemaccana Sadly, it is an old issue without any interest to fix it. I ve offered a resolution of the problem, no answer yet. https://github.com/meandmax/lory/issues/480

[2018-06-13 15:47] mikemaccana commented on #197
Same here. I'm just hacking it for now - long term it would be better to move away from `inline-block` completely - slides aren't really blocks inside a line of characters - and just use `grid`, now most pople are on an evergreen browser.

	// HACK
	// 1050 highlights last item but no rewind
	// 1025 doesn't highlight last item
	// See https://github.com/meandmax/lory/issues/197
	const FIX_BUG = 1

[2018-06-15 07:58] rustam87 opened #740 "initialIndex without animation"
When i use **initialIndex** in during init lory, i have animation to slide.
How can i see slide without animation

[2018-06-18 12:52] hamburger123456 opened #741 "TypeError: P is undefined when using https://cdnjs.cloudflare.com/ajax/libs/lory.js/2.5.1/lory.min.js"
by using this code.
document.addEventListener('DOMContentLoaded', function () {

    var variableWidth = document.querySelector('.slider');
    lory(variableWidth, {
        rewind: true,
        slidesToScroll: 1,
        slideSpeed: 600
    });
});
Whats wrong?

[2018-06-29 02:37] ibrokemycomputer commented on #611
I just want to mention, you tagged this as "help wanted" and the help was provided. Does the fork conflict with this repo or is it something you can pull in?

The cost of importing lory vs other sliders (swiper, slick - to name a couple) makes it extremely attractive to RAIL-oriented devs. It would be nice to consider your library stable and active so we can confidently use it in production enviro

[2018-06-29 08:53] meandmax commented on #611
@ibrokemycomputer I would really appreciate it if you want to help/contribute. The reason I did not fix this issue yet is, that for now I do not have a way to make this work for all cases.

Also to me it is not even clear what should lory return in the case mentioned above (12 or 14)? When you have 4 slides visible which index is the currentIndex?

Cheers,
Max

[2018-06-29 09:41] RSeidelsohn commented on #611
@meandmax Well, it should return 14. And for this I created the fork of `lory`, named `lory-lesara` (I work for a company named Lesara where we use this fork). I add this functionality as a feature, so in order to enable it, you have to pass an additional parameter. If you don't, the code behaves exactly as the original `lory` does. It is just an additional feature for users that have varying numb

[2018-06-29 11:11] meandmax commented on #741
check this out: https://codepen.io/anon/pen/wXRJre?editors=0010

seems to work for me, please close if it works for you now as well.

cheers Max

[2018-06-29 11:11] #741 closed

[2018-06-29 11:48] hamburger123456 commented on #741
works for me thx
great job meandmax

[2018-07-09 15:35] FrencisAlreadyInUse opened #745 "iPhone X — Index Issue"
Slider resets automatically when navigating through the slider and then scrolling the page.

Slider jumps back to first image, but the text will stay of last viewed image.

[2018-07-18 14:31] gitsilvan commented on #740
You can turn off the initial slide animation by disabling all transitions on the lory element via CSS first and enabling them again after lory was initialized.

You could for example add a no-animations class and remove it after lory was initialized.

CSS:
`.no-animations * {
    transition: none;
}`

And then add in your JS (before initializing lory!):
`document.addEventListener('after.lory.init'

[2018-08-06 18:26] johannpinson commented on #328
Hello @meandmax

I see a regression with your commit.
Now, I can't use this setup:
[code]

Since you make some calculations like `index + (infinite * 2) !== slides.length`
and not `index + (slideToScroll * 2) !== slides.length` for example, whatever my config, it force to slide many by many (4 by 4 in my setup) except for the slide translation if my slider doesn't contain a multiple of 4.

I try w

[2018-08-28 12:21] sblanchon opened #747 "Desktop: Prevent ghost images from dragging on mouseMove (desktop)"
Hi everybody,
I have images in my lory slider slides, and it doesn't slide correctly when using a mouse pointer :
When dragging a ghost image is moving instead of slide itself.
Moreover, "mousedown" / "mouseup" events are not correctly handled on IE, Firefox, and even on Chrome : Sometimes, we get sticked with slider container.
Do someone have the same issue ?
Is there a workaround ?
(I tested IMG

[2018-08-29 16:29] danieljb commented on #747
Canceling the `mousedown` event on slides with images works for me:
[code]

[2018-08-30 09:28] sblanchon commented on #747
thanks @danieljb , i used `draggable="false" ondragstart="return false"` on `<a>, <picture>, <img`> when this 3 tags are used inside my slide.
This is working on IE11, Firefox and Chrome, and "dragging" functionality is still OK.

[2018-09-06 09:00] jalmendhry opened #748 "Access Lory Instance in EventHandler when creating multiple instances?"
Hi. I can't seem to use publicAPI functions as I can't get access to the lory slider instance when creating multiple instances as there is no reference to that instance! Example...

[code]

[2018-09-17 19:56] bgreater commented on #480
So using the NPM version of lory I was able to get it compiled correctly with rollup. I'm using Babel and and the `rollup-plugin-commonjs` plugin. which allows me to import lory as a commonjs module.

Example rollup settings
[code]

Example usage
[code]

[2018-09-21 13:28] VangelisAlSghir commented on #607
Also when infinite is false, still wrong values are returned. NextSlide shows -1 on "next" click.

[2018-10-23 13:05] davidglezz opened #751 "On TouchScrolling, snap to next visible slide"
When we have multiple slides (by example, variable width example), and we move several slides (touching or with mouse) only one advances, the expected behavior would be go to the next visible slide in the direction of displacement.

[2018-10-23 13:28] davidglezz opened #752 "BUG: Browser history on drag"
When grabbing left or right triggers browser Back or Next.
Using windows 10 Tablet + Google Chrome, not tested in other browsers.

![screenshot](https://user-images.githubusercontent.com/194784/47363733-ccf94100-d6d7-11e8-9595-db1a622e232a.png)

[2018-11-12 20:15] EM-LilianaIturribarria opened #753 "rewind: false does not work"
`
lory(self.$refs['slider-container'], {
          rewind: false,
          infinite: false
        });
`

I have click event listeners on each of the slides and it always rewinds

[2018-11-12 21:33] #753 closed

[2018-11-21 11:33] sebbdk commented on #714
I hit this issue as well, so i looked into it.
Rather than adding a fix in lory i suggest doing this from the implementers styles.

Something like this:

`
dir[rtl] .myframeclass { direction: ltr; }
dir[rtl] .myframeclass .myframes { direction: rtl;
}`

Browsers handle rtl and position differently, but the above works in all browsers.
The alternative is to bloat the js source with detection code o

[2019-01-04 12:59] pedroreartes commented on #696
I have the same issue with angularjs  version

[2019-01-11 05:09] momu-2016 opened #755 "How to Set up Automatic Scroll"
How to Set up Automatic Scroll。thank you ！

[2019-01-28 17:47] nstanard commented on #755
Please ask questions like these in Gitter or on Stack Overflow.

[2019-01-28 17:47] #755 closed

[2019-01-28 17:49] nstanard commented on #752
Can you please put together an example/demo and link it. (maybe make a github repo that I can download and test.)

edit: I'll be closing issues like these over the next few days if there is no response.

[2019-01-28 17:51] nstanard commented on #751
Please put together a demo/example and put a link in the comment. (perhaps a github repo that I can download and test - or simply a codepen link)

edit: I'll be closing issues like these over the next few days if there is no response.

[2019-01-28 17:52] nstanard commented on #748
Please create a demo/example and link to it in your comment. (or ask on Stack Overflow)

[2019-01-28 17:52] #748 closed

[2019-01-28 18:52] nstanard commented on #747
Closing issues that are general help requests + have solutions provided. Thank you for your contributions.

[2019-01-28 18:52] #747 closed

[2019-01-28 18:54] nstanard commented on #745
Please link a demo/example and I can take a look.

[2019-01-28 18:54] #745 closed

[2019-01-28 18:56] nstanard commented on #739
You get to decide what class names you use for your sliders. The options allow you to override the defaults. Please use Stack Overflow or Gitter to request general assistance with the slider.

[2019-01-28 19:25] nstanard commented on #738
Closing this and will test #480 as well. However, @mahish I am not the owner of this resource and I would not feel comfortable merging in anything without first talking to Max. I am simply a humble servant ;)

[2019-01-28 19:27] nstanard commented on #480
@mahish I am not the owner of this resource and I would not feel comfortable merging in anything without first talking to Max. I am simply a humble servant ;)

That being said.... I will take a look at the work you've done and see if it's worth incorporating into the project.

[2019-01-28 19:31] nstanard commented on #740
@rustam87 Can you please create a demo/example of what you are trying to accomplish that shows the issue you are facing. I will take a look at it and provide feedback. I have not run into this issue before.

[2019-01-28 19:31] #740 closed

[2019-01-28 19:32] nstanard commented on #682
There are resize events firing when you scroll the page and the browser hides and shows the url bar. This is a known issue.

[2019-01-28 19:32] #682 closed

[2019-01-28 19:33] nstanard commented on #684
I can assist you in forking the project and making this change if you would like but I personally want to focus on other issues in the near future.

[2019-01-28 19:33] #684 closed

[2019-01-28 19:37] nstanard commented on #700
My goal as a contributor of this project has always been to keep it simple. There are a lot of features slick offers that add to the size of the resource when you use it in a project. If you take a stab at forking this project and making this enhancement I will assist you as best I can. Vertical sliding and adaptive heights seem to be more than minimal features IMO. But again, i'm happy to help yo

[2019-01-28 19:37] #700 closed

[2019-01-28 19:49] nstanard commented on #737
The examples are simply a starting point. I dont think anything is preventing the use of buttons in the implementation of the sliders. Keyboard control can also be added in combination with the api methods available. If you take a stab at providing an example I can assist in helping.

[2019-01-28 19:49] #737 closed

[2019-01-28 19:51] nstanard commented on #701
@christoph-bessei thank you for your contribution to this issue - closing it. @sumitmann If you can provide an example/demo of what you are having trouble with people can better assist you in helping with the solution.

[2019-01-28 19:51] #701 closed

[2019-01-28 19:53] nstanard commented on #723
@soluml Providing a link to an example of what you are trying to do allows us to help you faster with better feedback. Please provide a demo of what you are having trouble with and we can assist you. Also - Stack Overflow and Gitter are great places to ask questions about general use.

[2019-01-28 19:53] #723 closed

[2019-01-28 19:54] nstanard commented on #704
Thank you for providing an example! I will take a look at this and see if I can assist in your goals.

[2019-01-28 19:59] nstanard commented on #704
Here is a working example: https://codepen.io/nstanard/pen/jrwymd - If you have any more questions please feel free to ask on Stack Overflow or Gitter chat.

[2019-01-28 19:59] #704 closed

[2019-01-28 20:00] nstanard commented on #714
@sebbdk 😍 Thank you for your contributions. I always love when we can prevent the size of the project from growing.

[2019-01-28 20:00] #714 closed

[2019-01-28 20:06] nstanard commented on #722
I haven't tried to do this so I don't currently have an answer for you. Most likely doing this without changing the Lory code would require preventing the sliding events if on the first or last slide. I imagine this would only be desired if the slider is NOT infinite. If you want to try to accomplish this and link to an example/demo I can assist you in trying to accomplish this without a Lory code

[2019-01-30 15:58] davidglezz commented on #752
To reproduce the problem

Go to http://loryjs.github.io/lory/ from a Windows 10 touch device (tablet or laptop with touch screen) and try using the slider using your finger.

Obviously using the previously said browsers: Chrome and Edge

[2019-01-30 16:12] davidglezz commented on #751
![video](https://user-images.githubusercontent.com/194784/51994967-1e248800-24b2-11e9-8c5c-80000c5f6430.gif)

I slide to slide 130, but when I release my finger, it returns to 190, the next of the first (220), the expected behavior is to stay at 130 or the nearest one when I release my finger.

[2019-01-30 20:04] nstanard commented on #751
I'm not sure that is the expected behavior. slidesToScroll is an option available and it's default value is 1. That example is going to snap to 1 slide at a time. That's actually not a bug.

[2019-01-30 20:04] #751 closed

[2019-01-30 20:09] nstanard commented on #752
I'm emulating a windows device using chrome responsive mode. I'm not able to reproduce this issue. Are you able to create a gif/video like you did with the other issue? (#751)

[2019-02-04 00:33] nstanard commented on #752
I'm unable to reproduce this - I do not have a windows 10 touch device available to me. If somebody can provide more information or if I can get my hands on a windows tablet I will look into this.

[2019-02-20 10:06] prsdta opened #758 "Improve accessibility"
Hi, I'm not a11y expert but I try to think about it as much as possible so I figured I could add a sprinkle of it to lory.

My first concern is the case of `infinite` that creates duplicates slides. These should definitely have an `aria-hidden="true"` attribute so that they are correctly ignored by the screen readers and so on.
This seems fairly easy to add in `setupInifinte()`.

Checking out bxSl

[2019-02-25 15:59] nstanard commented on #758
Thank you for your input. I would like to get back to work on this project and really appreciate the feedback.

[2019-04-08 02:19] germano-massive opened #759 "Change the transition direction"
Currently, I only able to have a transition on the X-axis, I want to rotate my slider on Y-axis. I saw in the code there is a `translate` function that can be changed the axis:

[code]

What do you think to add an option to change the axis?

This is a print screen from the slider that I'm trying to implement.

![Screenshot from 2019-04-07 23-18-57](https://user-images.githubusercontent.com/3821825

[2019-04-09 14:10] #759 closed, assigned to nobody

[2019-04-09 14:10] egermano opened #760 "Change transition direction"
Currently, I only able to have a transition on the X-axis, I want to rotate my slider on Y-axis. I saw in the code there is a `translate` function that can be changed the axis:

[code]

What do you think to add an option to change the axis?

This is a print screen from the slider that I'm trying to implement.

![Screenshot from 2019-04-07 23-18-57](https://user-images.githubusercontent.com/3821825

[2019-04-22 06:34] prsdta commented on #758
Upping this a bit, since I'm using lory in production now I'd want these parts improved. Any opinion on what I've proposed?
Since I've looked a bit at the code before I feel fairly confident I'm able to write a PR.

Otherwise, I guess I'll work on a fork 😅

[2019-05-26 20:14] njrfoto opened #761 "Need to add slide specific text content to image in slider"
Can anyone help find me a simple fix for adding unique text per slide in lory js? My sliders only have images but I would like to add some text specific to each image in the slider found here: https://studiesinsilver.com/historical/mckellen-infallible-camera.html
Thanks for the help

[2019-05-26 20:56] njrfoto commented on #585
I also need help with this...

[2019-05-27 14:50] mzimnikoval opened #762 "Sliders won't work when is cache deleted"
Hello,

I have little problem, I have multiple sliders on one page, everything is working fine until I hard refresh the page with ctrl+shift+R .. after that, some sliders wont work. The js code for the slider is

    Array.prototype.slice.call(document.querySelectorAll('.multiple-slide')).forEach(function
    (element, index) {
        lory(element, {
            slidesToScroll: 1,
            rew

[2019-05-28 17:29] njrfoto commented on #761
@nstanard can you help me out? Happy to pay for 1:1 if you can find a quick fix for me... Let me know

[2019-05-28 19:20] nstanard commented on #761
@njrfoto You have a slight issue with your site right now - unrelated to what you are asking me:

![image](https://user-images.githubusercontent.com/4204806/58505937-bde9de00-8153-11e9-9bb0-79d308e4bbe9.png)

![image](https://user-images.githubusercontent.com/4204806/58505951-cf32ea80-8153-11e9-9d3c-fcdd45d51968.png)

[2019-05-28 19:22] nstanard commented on #761
To help you with your question:

![image](https://user-images.githubusercontent.com/4204806/58505993-e70a6e80-8153-11e9-83e3-a7f8b150312a.png)

You're currently using <img /> tags as your "slide" items. You need to nest those images in HTML containers ( like a <div>) and then put your text positioned on top of your image using css.

[2019-05-28 19:24] nstanard commented on #761
This is a website I built a few years back: https://www.lovelyskin.com/skin-specialists-omaha/acne

![image](https://user-images.githubusercontent.com/4204806/58506137-3f417080-8154-11e9-858a-21417670b43b.png)

Notice how I used `<div> <ul> and <li>`  HTML elements to render "slides" that have images and text.

(please note: they only have one slide currently so the slider is "disabled" effectivel

[2019-05-28 19:55] nstanard commented on #761
I'm going to close this now since it's a support issue. Feel free to open a stack overflow question though.

[2019-05-28 19:55] #761 closed, assigned to nobody

[2019-05-28 19:56] nstanard commented on #762
Please open a stack overflow issue - with a link to an example that has the issue you are seeing.

[2019-05-28 19:56] #762 closed, assigned to nobody

[2019-06-11 13:45] nishantuie commented on #460
If you are open to modifying the lory.js code, I have updated code and added centerMode option.
By this, you will be able to apply centerMode for same width slides where the first slide will be left aligned.

[2019-06-13 06:41] nishantuie commented on #460
If you are ok to update lory.js code, I have updated the code to add centerMode functionality.

I have added an option for centerMode with
1. the first slide center align
2. the first slide left align

https://github.com/nishantuie/lory/tree/feature/center-mode

PR Raised: https://github.com/loryjs/lory/pull/763

[2019-06-17 03:24] Ankitpatel08 commented on #460
This fix works with all type of slides like variable width and in all breakpoints. Thank You! (y)

[2019-07-31 08:20] karimiDev commented on #436
hi @nstanard
I use
    <script src="~/js/Panel/Plugin/gp/grapesjs-lory-slider.min.js"></script>
how can auto play slider?

[2019-07-31 08:23] karimiDev commented on #436
hi @nstanard
I use
    <script src="~/js/Panel/Plugin/gp/grapesjs-lory-slider.min.js"></script>
how can I autoplay slider?
I saw your example, but grapesjs-lory-slider is different

[2019-08-01 04:30] karimiDev opened #765 "How to add a sound component in grapesjs"
I want to include a sound component like the image component,
upload audio

[2019-08-01 04:47] karimiDev opened #766 "How use jssor.slider.js in grapesjs"
I've added 'jssor.slider.js' file to the body.
When I add a slider component, the slider works but I can't change the image or add a new one to the slider.

And also when I save the page and want to edit the page
The slider doesn't work,
error: $Jease$ is not defined
Cannot read property 'currentStyle' of undefined

my code:
 bm.add('textslider', {

            label: 'slider',
             catego

[2019-08-03 06:39] karimiDev commented on #766
please help me
@artf

[2019-08-28 06:53] sreerajsaseendran opened #767 "ios devices - While swiping right or left page scrolls vertically"
Hi
I am using this slider for one of our project and it is vertically scrolling the page when the user tries to touchmove the slider to left or right. Any one facing the same and any solution for this?
Thanks
Sreeraj S

[2019-08-28 11:42] sreerajsaseendran commented on #767
The answer was already there in pull requests section, I didn't noticed it.
Or see the answer here https://github.com/loryjs/lory/pull/764

[2019-08-28 11:42] #767 closed, assigned to nobody

[2019-11-28 16:17] CedricEggenspiller opened #771 "Using the API methods in Vanilla JS"
Hi, thanks for this plugin.
I'd like to make the slideshow run automatically. I wanted to use the .next() method with a timeout but I'm unable to make the equivalent of JQuery data() (like in your example : $elements.data().lory.next();) in vanilla JS. Any idea? And maybe that could be a future improvement to have an auto slideshow option.

Thank you !

Cédric

[2019-12-09 11:38] mikailbayram commented on #460
Any update on this?

[2019-12-09 14:03] nishantuie commented on #460
@mikailbayram please take a look at PR https://github.com/loryjs/lory/pull/763

@Saturate has reviewed and approved PR, he shall merge feature branch to master. Meanwhile, feel free to get code from https://github.com/nishantuie/lory/tree/feature/center-mode

Hope this helps.

[2019-12-09 14:12] mikailbayram commented on #460
@nishantuie thanks for the update!

[2020-02-13 16:40] giancarlosisasi commented on #460
:eyes:

[2020-03-20 02:39] longdoan7421 commented on #771
You could use something like this:
[code]

[2020-03-20 13:37] CedricEggenspiller commented on #771
Oh, great, thank you !

Cédric Eggenspiller

[2020-04-24 18:06] Johnsoct opened #773 "Next/Prev "buttons" don't work if above the slider element in the DOM"
First, love Lory!

Second, as for the issue I'm seeing is: the design I'm working with demands for the "prev/next" buttons to be above the carousel/slider, so I tried a few various things:

Not that it matters, but for the examples, I'm using Vue.js for this project...

a) I saved `lory(el, options)` to my component's local data and then on the custom buttons I created, set the @click callback to

[2020-04-24 18:18] Johnsoct commented on #773
I may have it working ATM, so I'll update this with what I find.

I may very well have been missing something!

[2020-07-09 19:18] ghost commented on #444
I think that fade would be a good addition since this package isn't mobile-only and the touch interaction can be turned off on desktop.

[2021-12-12 15:46] marco910 commented on #436
I also tried to add autoplay to my lory slider and this code works very well in my case (without dots):

[code]

[2022-03-28 09:07] #670 closed